<o-sales-order-detail
    [userInfo]="userInfo$ | async"
    [salesOrderLinesMatTable]="salesOrderLinesMatTable$ | async"
    [salesOrder]="salesOrder$ | async"
    [deliveryDetail]="deliveryDetail$ | async"
    [errorMessage]="errorMessage$ | async"
    (getFulfilledBySalesOrder)="getFulfilledBySalesOrder($event)"
    (getSalesOrderLineByVendor)="getSalesOrderLineByVendor($event)"
    (getFulfilledBySalesOrderDelivery)="getFulfilledBySalesOrderDelivery($event)"
    (setSalesOrder)="setSalesOrder($event)"
    (downloadSalesOrderPackingSlip)="downloadSalesOrderPackingSlip($event)"
    
></o-sales-order-detail>