<o-item-add-bundle

    [itemList]="itemList$ | async"
    [item]="item$ | async"
    
    [errorMessage]="errorMessage$ | async"
    (getItemList)="getItemList($event)"
    (setSelectedBundleOption)="setSelectedBundleOption($event)"
></o-item-add-bundle>

<!-- 

@Input() errorMessage: string;
    @Input() item: ItemInsert;
    @Input() itemList: ItemList[];
    @Input() selections: ItemSelectionInsert[] = [];
    @Input() selectedOption: ItemOptionInsert;
    //@Input() optionsMatTable: MatTableDataSource<ItemOptionInsert> = [];
    @Input() selectionsMatTable: MatTableDataSource<ItemSelectionInsert>;
    

    @Output() getItemList = new EventEmitter<void>();
    @Output() setSelectedBundleOption = new EventEmitter<void>(); -->