<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>
            {{ 'Report' | translate }}
        </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/PM/dashboard']">{{ 'Home' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'Report' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <mat-sidenav-container class="example-container">
                <mat-sidenav [(opened)]="opened" mode="side">
                    <ng-container>
                        <app-report-menu>

                        </app-report-menu>
                    </ng-container>
                </mat-sidenav>
                <mat-sidenav-content>
                    <div style="height: 1000px;width: 100%">
                        <router-outlet></router-outlet>
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</div>

<o-notification></o-notification>
