<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>
            {{ 'Inbound Shipment' | translate }}: {{purchaseOrder?.PackingSlipNumber}}
        </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']" >{{ 'Home' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['/inbound-shipment']" >{{ 'Manage Inbound Shipments' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'Edit Inbound Shipment' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn" *ngIf='purchaseOrder'>
    <div class="row m-b-md">
        <div class="col-lg-12">
            <div class="nav">
                <div class="tab-pane active">
                    <div class="panel-body p-w-none p-t-none">
                        <!-- <div class="ibox-title"><h5>Inbound Shipment Details</h5></div> -->
                        <div class="ibox-content border" style="padding: 10px 20px 10px 20px;" >
                            <div class="row">
                                <div class="inbound-shipment-details">
                                        <div>
                                            <div>
                                                <strong class="">{{ 'Transaction Date' | translate }}</strong>
                                                <p class="no-margins">{{purchaseOrder?.TransactionDate | date}}</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <strong class="">{{ 'Status' | translate }}</strong>
                                                <p class="no-margins">{{ purchaseOrder?.Status | translate }}</p>
                                            </div>
                                        </div>
                                        <div *ngIf="purchaseOrder?.ShipmentDate">
                                            <div>
                                                <strong class="">{{ 'Shipment Date' | translate }}</strong>
                                                <p class="no-margins ">{{purchaseOrder?.ShipmentDate | date}}</p>
                                            </div>
                                        </div>
                                    <!-- <div class="col-xs-12 col-lg-2" [ngClass]="purchaseOrder?.ShipmentDate ? 'col-sm-4' : 'col-sm-6'">
                                        <div>
                                            <p class="no-margins text-lg">{{purchaseOrder?.TransactionDate | date}}</p>
                                            <strong class="m-b-xs">Transaction Date</strong>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-2 m-xs-resp" [ngClass]="purchaseOrder?.ShipmentDate ? 'col-sm-4' : 'col-sm-6'">
                                        <div>
                                            <p class="no-margins text-lg">{{purchaseOrder?.Status}}</p>
                                            <strong class="m-b-xs">Status</strong>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-2 col-sm-4 m-xs-resp" *ngIf="purchaseOrder?.ShipmentDate">
                                        <div>
                                            <p class="no-margins text-lg">{{purchaseOrder?.ShipmentDate | date}}</p>
                                            <strong class="m-b-xs">Shipment Date</strong>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wizard">
                <div class="steps animated fadeIn">
                    <ul>
                        <li routerLinkActive="active" class="first done">
                            <a [routerLink]="['line/list']" 
                                [ngClass]="{'complete':!isInboundShipmentPending() || !isLineList()}" 
                                routerLinkActive="active">
                                <span class="wiz-title"><span class="m-r-xs">1.</span>{{ 'Inbound Shipment Lines' | translate }}</span> 
                                <span [ngClass]="{'glyphicon glyphicon-exclamation-sign': qtyUpdated}"  matTooltip="{{ 'Save to Update Carton' | translate }}"></span>
                                <span [ngClass]="{'glyphicon glyphicon-exclamation-sign': !qtyUpdated && !isValid('line/list') }" matTooltip="{{ 'Missing Products' | translate }}"></span>
                                <!-- <span class="glyphicon glyphicon-exclamation-sign" *ngIf="!isValid('line/list')" title="Missing products"></span> -->
                            </a>
                        </li>
                        <li routerLinkActive="active" >
                            <a [routerLink]="['carton/list/line']" routerLinkActive="active" 
                                [ngClass]="{
                                    'complete':!isInboundShipmentPending() || ( isInboundShipmentPending() && (isShippingInstruction() || isShipping()) ),
                                    'disabled':isInboundShipmentPending() && isLineList()
                                }" 
                                [ngStyle]="{'pointer-events': isInboundShipmentPending() && isLineList() ? 'none' : 'auto'}">
                                <span class="wiz-title"><span class="number m-r-xs">2.</span>{{ 'Carton' | translate }}</span>
                                <span [ngClass]="{'glyphicon glyphicon-exclamation-sign': !isValid('carton/list/line') }" matTooltip="{{ 'Must Include All Products' | translate }}" attr.aria-label="{{ 'Must Include All Products' | translate}}" ></span>
                                <!-- <span class="glyphicon glyphicon-exclamation-sign" *ngIf="!isValid('carton/list/line')" title="Must include all products"></span> -->
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['shippinginstruction']" routerLinkActive="active"
                                [ngClass]="{
                                    'complete':!isInboundShipmentPending() || ( isInboundShipmentPending() && isShipping() ),
                                    'disabled':isInboundShipmentPending() && ( isLineList() || isCartonList() )
                                }"
                                [ngStyle]="{'pointer-events': isInboundShipmentPending() && ( isLineList() || isCartonList() ) ? 'none' : 'auto'}">
                                <span class="wiz-title"><span class="number m-r-xs">3.</span>{{ 'Shipping Instruction' | translate }}</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['shipping']" routerLinkActive="active"
                                [ngClass]="{
                                    'complete':!isInboundShipmentPending(),
                                    'disabled':isInboundShipmentPending() && ( isLineList() || isCartonList() || isShippingInstruction() )
                                }"
                                [ngStyle]="{'pointer-events': isInboundShipmentPending() && !isShipping() ? 'none' : 'auto'}">
                                <span class="wiz-title"><span class="number m-r-xs">4.</span>{{ 'Shipping' | translate }}</span>
                                <span [ngClass]="{'glyphicon glyphicon-exclamation-sign': !isValid('shipping')}" matTooltip="{{ 'Missing shipping info' | translate }}" attr.aria-label="{{ 'Missing shipping info' | translate}}" ></span>
                                <!-- <span class="glyphicon glyphicon-exclamation-sign" *ngIf="!isValid('shipping')" title="Missing shipping info"></span> -->
                            </a>
                        </li>
                    </ul>
                    <div *ngIf="loading" class="ibox-content border" style="min-height: 332px">
                        <div class="spinner-container">
                            <div class="sk-spinner sk-spinner-three-bounce big-spinner">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="!loading">
                        <router-outlet></router-outlet>
                    </ng-container>
                </div>
            </div>
        </div>        
    </div>
    <br />
    <div class="row animated fadeIn">
        <div class="col-md-12">
            <div class="pull-left">  
                <mat-menu #saveMenu="matMenu" width="250px">
                    <button mat-menu-item (click)="openDialogPrintAllItemLabel()">{{ 'Print All Item Labels' | translate }}</button>
                    <button mat-menu-item (click)="saveInboundShipment(true)">{{ 'Print Packing Slip' | translate }}</button>
                    <button mat-menu-item [disabled]="purchaseOrder.Status != 'Shipping'" (click)="cancelPurchaseOrder()">{{ 'Cancel Shipping' | translate }}
            </button>
                </mat-menu>
                <button type="button"
                        class="btn btn-primary"
                        style="width: 100px !important;"
                        [disabled]="pendingSave"
                        [matMenuTriggerFor]="saveMenu"><span class="m-r-xs">{{ 'Menu' | translate }}</span> <span class="caret"></span>
                </button>
            </div> 
            <div class="pull-right" *ngIf="isInboundShipmentPending()">
                <button type="button"
                        class="btn btn-remove m-r-sm"
                        style="width: 100px !important;"
                        *ngIf="!isLineList()"
                        [disabled]="pendingSave"
                        (click)="goBack()"><i class="fa fa-arrow-left m-r-xs"></i> {{ 'Previous' | translate }}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        style="width: 100px !important;"
                        *ngIf="!isShipping()"
                        [disabled]="pendingSave"
                        (click)="saveInboundShipment()">{{ 'Next' | translate }} <i class="fa fa-arrow-right m-l-xs"></i>
                </button>
                <button type="button"
                        class="btn btn-primary"
                        style="width: 100px !important;"
                        *ngIf="isShipping()"
                        [disabled]="pendingSave || !(purchaseOrder.Status === 'Pending' && isValidShipment)"
                        (click)="saveAndShipInboundShipment()">{{ 'Save & Ship' | translate }}
                </button>                            
            </div>
        </div>
        <div class="col-md-2">

        </div>        
        <div class="col-md-2"> 

        </div>                        
        <div class="col-md-2"> 

        </div>
        <div class="col-md-2">  
            <!-- <button type="button"
                class="btn btn-danger max"
                *ngIf="purchaseOrder.Status == 'Shipping'"
                (click)="cancelPurchaseOrder()">Cancel Shipping
            </button> -->
        </div>
    </div>
</div>