<div class="tab-content border" *ngIf='purchaseorder'>
    <div class="tab-pane active">
        <div class="panel-body p-w-none">
            <form class="form-horizontal" #itemForm="ngForm" *ngIf='inboundShippingMethod'>
                <fieldset>
                    <!-- <div class="ibox-title"><h5>Shipping</h5></div> -->
                    <div class="ibox-content no-border-top wiz-content animated fadeIn">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="purchaseOrderShipmentDateId">{{ 'Shipment Date' | translate }}</label>
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="{{ 'Shipment Date' | translate }}"
                                            class="form-control" 
                                            [disabled]="purchaseorder.Status !== 'Pending'" 
                                            id="purchaseorderShipmentDate"
                                            [(ngModel)]="purchaseorder.ShipmentDate"
                                            name="purchaseorderShipmentDate" 
                                            #purchaseorderShipmentDateVar="ngModel" />                    
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ 'B/L (Ocean Bill of Lading)' | translate }}</label>
                            <div class="col-md-8">
                                <input class="form-control" id="BillingOfLading" type="text" placeholder="{{ 'B/L (Ocean Bill of Lading)' | translate }}" [disabled]="purchaseorder.Status !== 'Pending'" 
                                    [(ngModel)]=inboundShippingMethod.BillingOfLading name="inboundShippingMethodBillingOfLading" #inboundShippingMethodBillingOfLadingVar="ngModel" />                        
                            </div>                
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ 'Container Number' | translate }}</label>
                            <div class="col-md-8">
                                <input class="form-control" id="ContainerNumber" type="text" placeholder="{{ 'Container Number' | translate }}" [disabled]="purchaseorder.Status !== 'Pending'" 
                                    [(ngModel)]=inboundShippingMethod.ContainerNumber name="inboundShippingMethodContainerNumber" #inboundShippingMethodContainerNumberVar="ngModel" />                        
                            </div>                
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>