<!-- <div class="col-lg-12" style="margin-bottom: 30px;"> -->
            <!-- <div class="ibox-content" >
                <strong>Select Variation</strong>
            </div> -->
            <!-- <div class="col-lg-12 " style="margin-bottom: 30px;"  *ngIf="product?.length > 0 && product[0].ItemVariationItems.length"> -->
                <div class="" style="margin-bottom: 30px" *ngIf="product?.length > 0 && product[0].ItemVariationItems.length">
                    <div class="ibox-title">
                        <h5>Item Variations: {{ this.product?.length > 1 ? this.product?.length : '0 ' }} total</h5>
                    </div>
                    
                    <div class="ibox-content">
                        <!-- <div class="flex-va-center">
                            <h4>Item Variations</h4>
                            <button (click)="openDialogItemVariation()" type="button" mat-raised-button style="margin-left: 10px !important;"><i class="fa fa-plus m-r-xs"></i>{{ 'Variation' | translate }}</button>
                        </div> -->
    
                        <!-- This is single dropdown with all combos -->
                        <!-- <div class="row ">
                            <div class="col-lg-3"  style="text-align: left;">
                                <ng-select  
                                            [items]="product?.ItemInserts"
                                            bindLabel="VariationLabel"
                                            placeholder="{{ 'Select Attribute' | translate }}"
                                            name="selectAttribute"
                                            required
                                            loadingText="Loading..."
                                            class="inbound-line"
                                            (change)="onUpdateItemData($event)"
                                            [clearable]="false"
                                            style="width: 100%;"
                                            >
                                </ng-select>
                            </div>
                        </div> -->
    
                        <!-- This is dropdown for each attribute -->
                        <div class="row ">
                            <div class="col-lg-3" *ngFor="let items of attributesVariationsList"  style="text-align: left;">
                                <ng-container *ngIf="items.variationOptions && items.variationOptions?.length > 0">
                                    <h4> {{ items.Name }} </h4>
                                    <ng-select  [items]="items.variationOptions"
                                                bindLabel="Name"
                                                [(ngModel)]="items.selectedVariation"
                                                placeholder="{{ 'Select Attribute' | translate }}"
                                                name="selectAttribute"
                                                required
                                                loadingText="Loading..."
                                                class="inbound-line"
                                                (change)="onUpdateItemData(attributesVariationsList)"
                                                [clearable]="false"
                                                style="width: 100%;"
                                                >
                                    </ng-select>
                                </ng-container>
                            </div>
                        </div>
    
                        <!-- <div style="text-align: right;">
                            <button mat-raised-button (click)="viewVariationItem()" [disabled]="viewVariationDisabled">View Variation Item</button>
                        </div> -->
                        <!-- <div class="row m-t-md">
                            <button (click)="openDialogItemVariation()" type="button" mat-raised-button style="margin-left: 10px !important;"><i class="fa fa-plus m-r-xs"></i>{{ 'Variation' | translate }}</button>
                        </div> -->
                    <!-- </div>  -->
                </div>
            </div>