<h3 class="ibox-title dialog-title">Create Item Variations</h3>
<div mat-dialog-content style="background-color: #f3f3f4;">
    <mat-tab-group class="item-variation" [@.disabled]="true" [disableRipple]="true" [dynamicHeight]="false">
        
        <mat-tab *ngFor="let tab of attributesVariationsList; let i = index" [label]="tab">

            
            <ng-container>
                <ng-template mat-tab-label>
                    <span>{{ tab.attributeName | translate }}</span>
                </ng-template>
            
                <div class="item-variation-content">
                    <h5 style="font-size: 14px; padding-bottom: 10px;">Select {{tab.attributeName}} Variations</h5> 
                    <mat-selection-list #properties
                        [(ngModel)]="tab.variationOptions"
                        (ngModelChange)="onNgModelChange(tab)">
                        <mat-list-option
                            *ngFor="let property of tab.variations"
                            [value]="property">
                                {{property.name}}
                        </mat-list-option>
                    </mat-selection-list>

                    <div style="margin-top: 40px;" *ngIf="canShowDefaultOldSettingsInput(tab)">
                    <!-- <div style="margin-top: 40px;"> -->
                        <h5>Default old settings to:</h5>
                        <ng-select [items]="tab.variationOptions"
                                    bindLabel="name"
                                    placeholder="{{ 'Choose Variation for new default' | translate }}"
                                    [(ngModel)]="oldDefault.variation"
                                    (change)="onUpdateOldDefault(oldDefault)"
                                    name="selectAttribute"
                                    required
                                    loadingText="Loading..."
                                    class="inbound-line"
                                    style="width: 100%;">
                                    <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                                        <div class="ng-option disabled">
                                            {{ 'Please select a ' | translate }} {{ tab.attributeName }} {{ ' Variation' | translate }}
                                        </div>
                                    </ng-template>
                        </ng-select>
                    </div>
                    <p style="position: absolute; bottom: 0;">
                        Options selected: {{properties.selectedOptions.selected.length}}
                    </p>
                </div>
            </ng-container>
            
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-plus m-r-sm"></i>
                <span>{{ 'Add Attribute' | translate }}</span>
            </ng-template>
            <div class="item-variation-content">
                <div class="m-b-md">
                    <h5 style="font-size: 14px;padding-bottom: 10px;">Select Item Attribute</h5> 
                    <ng-select [items]="attributesVariationsListData"
                                bindLabel="attributeName"
                                placeholder="{{ 'Select Attribute' | translate }}"
                                [(ngModel)]="newAttribute"
                                name="selectAttribute"
                                required
                                loadingText="Loading..."
                                class="inbound-line"
                                style="width: 100%;">
                    </ng-select>
                </div>

                <div style="text-align: left; margin-top: 40px;">
                    <button (click)="createAttribute()" mat-raised-button color="primary">
                        Add
                    </button>
                </div>
            </div>
            
        </mat-tab>
    </mat-tab-group>
</div>
<mat-dialog-actions>
    <button [disabled]="addItemVariationInvalid" (click)="onAddItemVariationClick()" mat-button class="btn btn-success-xs" cdkFocusInitial>{{ 'Create Item Variations' | translate }}</button>
    <button (click)="onCancelClick()" mat-button class="btn btn-remove-xs">{{ 'Cancel' | translate }}</button>
</mat-dialog-actions>
