<h3 class="ibox-title dialog-title">{{ 'Select Item for Variation' | translate }}</h3>
<div mat-dialog-content class="dialog-content">
    <div class="ibox-content">
        <h3 class="m-b-md">{{ 'Variation' | translate }}: {{data.variationTitle}}</h3>
        <label>{{ 'Select Item' | translate }}</label>
        <ng-select  [items]="data.itemLists"
                    [virtualScroll]="true"
                    bindLabel="ItemName"
                    placeholder="{{ 'Search Item' | translate }}"
                    [(ngModel)]="itemList"
                    #selectionCategoriesRef
                    id="selectItem"
                    name="selectItem"
                    required
                    #selectItem="ngModel"
                    [loading]="!data"
                    loadingText="Loading..."
                    style="width: 100%;">
            <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
                <div class="ng-option disabled">
                    {{ 'Please select an item for this variation.' | translate }}
                </div>
            </ng-template>
        </ng-select>
        <div class="m-t-md select-item-layout" *ngIf="itemList">
            <div class="p-v-5 text-center" *ngIf='itemList?.ImagePath || itemList?.ItemImagePath'>
                <img class="row-image-lg" [src]='itemList?.ImagePath ? imageURL + itemList?.ImagePath : imageURL + itemList?.ItemImagePath' [matTooltip]='itemList?.ItemName' [alt]='itemList?.ItemName' matTooltipShowDelay="500">
            </div>
            <div>
                <div class="form-group flex">
                    <label class="control-label">{{ 'Description' | translate }}</label>
                    <div>{{itemList.Description || itemList.ItemName }}</div>
                </div>
                <div class="form-group flex" >
                    <label class="control-label">{{ 'TPIN' | translate }}</label>
                    <div>{{itemList.TPIN || itemList.ItemTPIN }}</div>
                </div>
                <div class="form-group flex">
                    <label class="control-label">{{ 'VendorSKU' | translate }}</label>
                    <div>{{itemList.VendorSKU || itemList.ItemVendorSKU}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-dialog-actions>
    <button (click)="onAddItemClick()" mat-button class="btn btn-success-xs btn-main" cdkFocusInitial>{{ 'Select' | translate }}</button>
    <button (click)="onCancelClick()" mat-button class="btn btn-remove-xs">{{ 'Cancel' | translate }}</button>
</mat-dialog-actions>
