<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>
            {{ 'Variation Listings' | translate }}
        </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']" >{{ 'Home' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'Manage Variation Listings' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'Manage Variation Listings' | translate }}</h5>
                    <div class="ibox-tools">
                        <a [routerLink]="['add']">
                            <!-- <a (click)="openDialogItemVariation()"> -->
                            <i matTooltip="{{ 'Create New Variation Listing' | translate }}" aria-label="Icon for Create New Variation Listing" class="fa fa-plus fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="toolbar-search-1">
                    <i class="fa fa-search" aria-label="Icon for Filter By Input Bar"></i> 
                    <input (keyup)="applyFilter($event.target.value)" placeholder="{{ 'Filter By' | translate }}" class="form-control">
                </div>
                <div class="ibox-content" style="min-height: 40vh;">
                    <div *ngIf="!dataSource" class="spinner-container">
                        <div class="sk-spinner sk-spinner-three-bounce big-spinner">
                            <div class="sk-bounce1"></div>
                            <div class="sk-bounce2"></div>
                            <div class="sk-bounce3"></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table mat-table #table [dataSource]="dataSource" class="table" matSort>
                            <!-- Menu Column -->
                            <ng-container matColumnDef="Menu">
                                <th mat-header-cell *matHeaderCellDef width="100px"></th>
                                <td mat-cell *matCellDef="let vendorattachment">
                                    <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-bars fa-2x"></i></button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item [routerLink]="[vendorattachment.VendorAttachmentID, 'edit']">{{ 'Edit' | translate }}</button>                                                                     
                                        <button mat-menu-item (click)="onDeleteAttachment(vendorattachment)">{{ 'Delete' | translate }}</button>
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <!-- Title Column -->
                            <ng-container matColumnDef="Title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="200px">{{ 'Title' | translate }}</th>
                                <td mat-cell *matCellDef="let vendorattachment">{{vendorattachment.Title}}</td>
                            </ng-container>
                            <!-- Created On Column -->
                            <ng-container matColumnDef="CreatedOn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="100px">{{ 'Created On' | translate }}</th>
                                <td mat-cell *matCellDef="let vendorattachment">{{vendorattachment.CreatedOn | date}}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    
                        <mat-paginator #paginator [pageSizeOptions]="[10, 20, 50, 100, 200]" [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    