<h2>
        Cross-Sells: {{itemLabel}}
    </h2>
    <div class="panel panel-primary">
        <div class="panel-body">
            <form class="form-horizontal" #itemVideoForm="ngForm">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cross-Sell</label>
                        <div class="col-md-8">
                            <select class="form-control" id="itemCrossSellCrossSellItemIDId" name="itemCrossSellItemID"  required 
                                [(ngModel)]=itemCrossSell.CrossSellItemID #itemCrossSellCrossSellItemIDVar="ngModel">
                                <option [ngValue]="null" style="font-style: italic" disabled selected>--Select an item--</option>
                                <option [value]="item.ItemID" *ngFor="let item of itemlist">{{item.Description}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-2">
                            <span>
                                <button class="btn btn-primary"
                                        type="button"
                                        style="width:100%; height:100%;" 
                                        [disabled]="pendingAdd"
                                        (click)="onAddCrossSell()">
                                    Add
                                </button>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </form>
            <hr>
            <div class="mat-elevation-z8" *ngIf="itemCrossSells && itemCrossSells.length > 0">
                <table mat-table #table [dataSource]="dataSource" style="width: 100%;" matSort>
                    <!-- Position Column -->
                    <ng-container matColumnDef="Position">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center">Position</th>
                        <td mat-cell *matCellDef="let itemCrossSell; let i = index" style="text-align: center">{{i + 1}}</td>
                    </ng-container>
                    <!-- Down Column -->
                    <ng-container matColumnDef="Down">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center"></th>
                        <td mat-cell *matCellDef="let itemCrossSell; let i = index" style="text-align: center">
                            <a (click)='moveDownPosition(itemCrossSell)' *ngIf='i !== itemCrossSells.length - 1'><span class="glyphicon glyphicon-arrow-down"></span></a>
                        </td>
                    </ng-container>
                    <!-- Up Column -->
                    <ng-container matColumnDef="Up">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center"></th>
                        <td mat-cell *matCellDef="let itemCrossSell; let i = index" style="text-align: center">
                            <a (click)='moveUpPosition(itemCrossSell)' *ngIf='i !== 0'><span class="glyphicon glyphicon-arrow-up"></span></a>
                        </td>
                    </ng-container>  
                    <!-- Item Name Column -->
                    <ng-container matColumnDef="ItemName">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center">Item Name</th>
                        <td mat-cell *matCellDef="let itemCrossSell" style="text-align: center">{{itemCrossSell.CrossSellItemName}}</td>
                    </ng-container>
                    <!-- SKU Column -->
                    <ng-container matColumnDef="SKU">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center">SKU</th>
                        <td mat-cell *matCellDef="let itemCrossSell" style="text-align: center">{{itemCrossSell.CrossSellItemVendorSKU}}</td>                   
                    </ng-container>  
                    <!-- TPIN Column -->
                    <ng-container matColumnDef="TPIN">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center">TPIN</th>
                        <td mat-cell *matCellDef="let itemCrossSell" style="text-align: center">{{itemCrossSell.CrossSellTPIN}}</td>                    
                    </ng-container>              
                    <!-- Remove Column -->
                    <ng-container matColumnDef="Remove">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center">Remove</th>
                        <td mat-cell *matCellDef="let itemCrossSell" style="text-align: center">
                            <button type="button" class="btn btn-default btn-sm" (click)="onRemove(itemCrossSell)">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </ng-container>
                                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let itemCrossSell; columns: displayedColumns;"></tr>
                </table>
            </div>
    
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <div class="col-sm-2">  
                        <button class="btn btn-danger" style="width:100%; height:100%;" type="button" [routerLink]="['/item']">Back</button>
                    </div>          
                </div>
            </div>
        </div>
    </div>
    