
<div class="tab-content animated fadeIn">
    <div class="tab-pane active">
        <div class="panel-body p-w-none animated fadeIn" style="min-height: 400px;">
            <ng-container *ngIf="isLoading || isSalesOrderLinesLoading">
                <div class="spinner-full-page">
                    <div>
                        <div>
                            <div class="spinner-container">
                                <div class="sk-spinner sk-spinner-three-bounce big-spinner">
                                    <div class="sk-bounce1"></div>
                                    <div class="sk-bounce2"></div>
                                    <div class="sk-bounce3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gray-cover-bg1"></div>
            </ng-container>
            <div *ngIf="salesOrder && !isLoading" class="animated fadeIn">
                <div class="ibox-content hide-y no-border-top">
                    <div class="col-xs-12 center-block">
                        <div class="sales-order-details" [ngClass]="!isMerchant ? 'details-max-width' : ''">
                            <form class="form-horizontal">
                                <div *ngIf="salesOrder.OrderReference" class="form-group">
                                    <label class="col-md-2 control-label">{{ 'Order Reference' | translate }}</label>
                                    <div class="col-md-8 grey-highlight pt7">{{salesOrder?.OrderReference}}</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ 'Ship By' | translate }}</label>
                                    <div class="col-md-8 grey-highlight pt7">{{salesOrder?.ShipByDate | date}}</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ 'Ship To' | translate }}</label>
                                    <div class="col-md-8 p-w-none">
                                        <div class="pre-regular" *ngIf="!isMerchant">
                                            <span class="block">{{salesOrder.ShipAddressName}}</span>
                                            <span class="block">
                                                <span>{{salesOrder.ShipAddressCity}}</span>
                                                <span>, {{salesOrder.ShipAddressState}}</span>
                                                <span>, {{salesOrder.ShipAddressCountry}}</span>
                                                <span> {{salesOrder.ShipAddressPostalCode}}</span>
                                            </span>
                                        </div>
                                        <div class="pre-regular" *ngIf="isMerchant">
                                            <span class="block">{{salesOrder.ShipAddressCompanyName}}</span>
                                            <span class="block">{{salesOrder.ShipAddressName}}</span>
                                            <span class="block">{{salesOrder.ShipAddressAddressLine1}}</span>
                                            <span class="block">{{salesOrder.ShipAddressAddressLine2}}</span>
                                            <span class="block">
                                                <span>{{salesOrder.ShipAddressCity}}</span>
                                                <span>, {{salesOrder.ShipAddressState}}</span>
                                                <span>, {{salesOrder.ShipAddressCountry}}</span>
                                                <span> {{salesOrder.ShipAddressPostalCode}}</span>
                                            </span>
                                            <span class="block">{{formatPhoneNumber(salesOrder.ShipAddressPhoneNumber)}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ 'Purchase Date' | translate }}</label>
                                    <div class="col-md-8 grey-highlight pt7">{{salesOrder?.TransactionDate | date}}</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ 'Buyer Name' | translate }}</label>
                                    <div class="col-md-8 grey-highlight pt7">{{salesOrder?.CustomerName}}</div>
                                </div>
                            </form>
                        </div>
                        <div class="sales-order-actions" *ngIf="isMerchant">

                            <!-- // Menu for Manage BOL -->
                            <mat-menu #saveMenu="matMenu" width="250px">


                                <button mat-menu-item
                                    *ngIf="fulfilledby === 'merchant' && salesOrder?.MerchantStatus === 'Unshipped' && BOLRequest && BOLRequest.BOLPath"
                                    (click)="navigateToFulfillments()">
                                    <i style="width: 20px;" class="text-center fa fa-file-pdf-o m-r-xs"></i>
                                    <span> {{ 'Download BOL/Label' | translate }} </span>
                                </button>


                                <button mat-menu-item
                                    *ngIf="fulfilledby === 'merchant' && salesOrder?.MerchantStatus === 'Unshipped' && BOLRequest"
                                    (click)="openDialogUploadBOLRequest(salesOrder)">
                                       <i style="width: 20px;" class="text-center fa fa-upload m-r-xs"></i>
                                        <span> {{ 'Upload BOL/Label' | translate }} </span>
                                </button>

                                <button mat-menu-item
                                    *ngIf="fulfilledby === 'merchant' && salesOrder?.MerchantStatus === 'Unshipped' && !BOLRequest && !isBOLRequestLoading"
                                    (click)="openDialogBOL(salesOrder)">
                                        <i style="width: 20px;" class="text-center fa fa-edit m-r-xs"></i>
                                        <span> {{ 'Request BOL/Label' | translate }} </span>
                                </button>

                                <button mat-menu-item
                                    *ngIf="fulfilledby === 'merchant' && salesOrder?.MerchantStatus === 'Unshipped' && BOLRequest && BOLRequest.BOLRequestID"
                                    (click)="openDialogViewBOLRequest(salesOrder)">
                                        <i style="width: 20px;" class="text-center fa fa-info-circle m-r-xs"></i>
                                        <span> {{ 'View BOL/Label Request Info' | translate }} </span>
                                </button>
                            </mat-menu>

                            <!-- // Menu button for Manage BOL -->
                            <button type="button" class="btn btn-info" [matMenuTriggerFor]="saveMenu">
                                    <span ><i class="fa fa-file-pdf-o m-r-xs"></i> {{ 'Manage BOL/Label' | translate }} <span class="fs-16 caret" style="margin-left: 5px !important;"></span></span>
                                    <!-- <div *ngIf="pendingSave">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </div> -->
                            </button>





                            <button type="button" class="btn btn-info" (click)="onPrintPackingSlip()">
                                <i class="fa fa-print m-r-xs"></i><span> {{ 'Print Packing Slip' | translate }} </span>
                            </button>



                            <button type="button" class="btn" [ngClass]="BOLRequest ? 'btn-info' : 'btn-info'"
                                *ngIf="fulfilledby === 'merchant' && salesOrder?.MerchantStatus === 'Unshipped'"
                                (click)="openDialogUploadInvoice(salesOrder)">
                                    <i class="fa fa-upload m-r-xs"></i><span> {{ 'Invoice' | translate }} </span>
                            </button>

                            <button type="button" class="btn" [ngClass]="BOLRequest?.BOLPath ? 'btn-info' : 'btn-primary'"
                                *ngIf="fulfilledby === 'merchant' && salesOrder?.MerchantStatus === 'Unshipped' && !BOLRequest && !isBOLRequestLoading && userInfo?.IsPM"
                                (click)="onNotifyBOLRequest(salesOrder)">
                                    <i class="fa fa-bell-o m-r-xs"></i><span> {{ 'Send Order Notification' | translate }} </span>
                            </button>

                            <button type="button" class="btn btn-danger" *ngIf="fulfilledby =='merchant' && salesOrder?.MerchantStatus === 'Unshipped'" (click)="openDialogCancelOrder(salesOrder)">
                                <i class="fa fa-remove m-r-xs"></i><span> {{ 'Cancel Order' | translate }} </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ibox-title"><h5>{{ 'Order Items' | translate }}</h5></div>
                <div *ngIf="!isSalesOrderLinesLoading" class="ibox-content hide-y">
                    <div class="table-responsive">
                        <table mat-table #table [dataSource]="salesOrderLinesMatTable" class="table" matSort>

                            <!-- Item Image Column -->
                            <ng-container matColumnDef="ItemImage">
                                <th mat-header-cell *matHeaderCellDef width="100px">{{ 'Product Details' | translate }}</th>
                                <td mat-cell *matCellDef="let salesorderline" height="74px" class="wrap hide-y">
                                    <a [href]="linkURL + '/' + salesorderline.URLKey + '.html'" target="_blank">
                                        <img *ngIf='!salesorderline.ItemImage' class="opaque" src='https://content-merchantportal.toolots.net/assets/images/no-image-icon.png' matTooltip='Product has no image' matTooltipShowDelay='700'>
                                        <img *ngIf='salesorderline.ItemImage' style="max-height:70px" [src]='imageURL + salesorderline.ItemImage' [matTooltip]='salesorderline.ItemName' [alt]='salesorderline.ItemName' matTooltipShowDelay='700'>
                                    </a>
                                </td>
                            </ng-container>
                            <!-- Product Details Column -->
                            <ng-container matColumnDef="ProductDetails">
                                <th mat-header-cell *matHeaderCellDef width="300px"></th>
                                <td mat-cell *matCellDef="let salesorderline" height="80px" class="wrap">
                                    <div class="col-xs-11">
                                        <div class="row">
                                            <div class="col-xs-12 "><span class="sm-strong"><a [href]="linkURL + '/' + salesorderline.URLKey + '.html'" target="_blank">{{salesorderline.ItemName}}</a></span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 "> <span class="sm-text m-r-xs">SKU: </span> {{salesorderline.ItemVendorSKU}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 "><span class="sm-text m-r-xs">TPIN: </span> {{salesorderline.TPIN}}</div>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Product Info Column -->
                            <ng-container matColumnDef="Quantity">
                                <th mat-header-cell *matHeaderCellDef width="200px">{{ 'Quantity' | translate }}</th>
                                <td mat-cell *matCellDef="let salesorderline" class="wrap">
                                    <div class="row">
                                        <div class="col-xs-10 col-sm-9 col-lg-6"><span class="sm-text2">{{ 'Quantity' | translate }}</span></div><div class="col-xs-1"><strong style="padding-bottom: 3px;">{{salesorderline.Quantity}}</strong></div>
                                    </div>
                                    <div class="row" *ngIf="salesorderline.ItemType == 'simple'">
                                        <div class="col-xs-10 col-sm-9 col-lg-6"><span class="sm-text2">{{ 'Shipped Quantity' | translate }}</span></div><div class="col-xs-1"><span>{{salesorderline.FulfilledQuantity}}</span></div>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="MerchantStatus">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="100px">{{ 'Status' | translate }}</th>
                                <td mat-cell *matCellDef="let salesorderline">
                                    <div *ngIf="salesorderline.ItemType == 'simple'">
                                        {{ salesorderline.MerchantStatus | translate }}
                                    </div>
                                </td>
                            </ng-container>
                            <!-- Unit Price Column -->
                            <ng-container matColumnDef="UnitPrice">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="100px">{{ 'Unit Price' | translate }}</th>
                                <td mat-cell *matCellDef="let salesorderline">
                                    <div *ngIf="!salesorderline.IsBundled">
                                        {{salesorderline.UnitPrice | currency}}
                                    </div>
                                    <div *ngIf="salesorderline.IsBundled">
                                        Bundle Component
                                    </div>
                                </td>
                            </ng-container>
                            <!-- Sub-Total Column -->
                            <ng-container matColumnDef="LineSubTotal">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="100px">{{ 'Sub-Total' | translate }}</th>
                                <td mat-cell *matCellDef="let salesorderline">
                                    <div *ngIf="!salesorderline.IsBundled">
                                        {{salesorderline.LineSubTotal | currency}}
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
