<o-sales-order-cancel
    [userInfo]="userInfo$ | async"
    [salesOrderLinesMatTable]="salesOrderLinesMatTable$ | async"
    [salesOrder]="salesOrder$ | async"
    [pendingDelete]="pendingDelete$ | async"    
    [errorMessage]="errorMessage$ | async"
    (getFulfilledBySalesOrder)="getFulfilledBySalesOrder($event)"
    (getSalesOrderLineByVendor)="getSalesOrderLineByVendor($event)"
    (getFulfilledBySalesOrderDelivery)="getFulfilledBySalesOrderDelivery($event)"
    (cancelSalesOrderLines)="cancelSalesOrderLines($event)"
    (setSalesOrder)="setSalesOrder($event)"
></o-sales-order-cancel>