<div class="tab-content border" *ngIf='purchaseorder'>
    <div class="tab-pane active">
        <div class="panel-body p-w-none">
            <div class="ibox-content no-border-top wiz-content animated fadeIn">
                <div class="instructions-layout">
                    <ul class="instructions">
                        <h3>{{ 'Item Label Placement' | translate }}</h3>
                        <p>{{ 'Shipping Instruction Item Label Placement Header' | translate }} </p>
                        <li>
                            <div>
                                <span class="m-r-sm circle">1</span> {{ 'Shipping Instruction Item Step 1' | translate }}
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="m-r-sm circle">2</span> {{ 'Shipping Instruction Item Step 2' | translate }}
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="m-r-sm circle">3</span> {{ 'Shipping Instruction Item Step 3' | translate }}
                            </div>
                        </li>
                        <li class="m-b-lg">
                            
                            <div>
                                <span class="m-r-sm circle">4</span> {{ 'Shipping Instruction Item Step 4' | translate }}
                            </div>
                        </li>

                        <h3>
                            <span class="m-r-lg">{{ 'Carton Label Placement' | translate }} </span>
                            <button type="button" class="btn btn-sm btn-success" (click)="openDialogPrintCartonLabel()"><span class="glyphicon glyphicon-print m-r-xs"></span> {{ 'Print All Carton Labels' | translate }}
                            </button>
                        </h3>
                        <p>{{ 'Shipping Instruction Carton Label Placemetn Header' | translate }}</p>
                        <li>
                            <div>
                                <span class="m-r-sm circle">1</span> {{ 'Shipping Instruction Carton Step 1' | translate }}
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="m-r-sm circle">2</span> {{ 'Shipping Instruction Carton Step 2' | translate }}
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="m-r-sm circle">3</span> {{ 'Shipping Instruction Carton Step 3' | translate }}
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="m-r-sm circle">4</span> {{ 'Shipping Instruction Carton Step 4' | translate }}
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="m-r-sm circle">5</span> {{ 'Shipping Instruction Carton Step 5' | translate }}
                            </div>
                        </li>
                        <li>
                            <div>
                                <span class="m-r-sm circle">6</span> {{ 'Shipping Instruction Carton Step 6' | translate }}
                            </div>
                        </li>
                    </ul>
                    <div>
                        
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>