<app-company-b2b-info-factory-tour (loadVendorInfo)="loadVendorInfo()"
                                   [isFactoryTourLoading]="isFactoryTourLoading$|async"
                                   [vendorFactoryTour]="vendorFactoryTour$|async"
                                   (updateVendorFactoryTour)="updateVendorFactoryTour($event)"
                                   (updateImage)="updateImage($event)"
                                   [factoryTourImageList]="factoryTourImageList$|async"
                                   (deleteImage)="deleteImage($event)"
></app-company-b2b-info-factory-tour>
