<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>
            {{ 'Add New Item' | translate }}
        </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']" >{{ 'Home' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['/item']" >{{ 'Manage Items' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'Add New Item' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li routerLinkActive="active">
                            <a [routerLink]="['description']">
                                {{ 'Product Description' | translate }}
                                <span matTooltip="Required fields must be complete" attr.aria-label="{{ 'Required fields must be complete' | translate}}" [ngClass]="{'glyphicon glyphicon-exclamation-sign': !isValid('description') }"></span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['bundle']" routerLinkActive="active" *ngIf="item?.ItemType === 'bundle'">
                               {{ 'Bundle' | translate }}
                                <span matTooltip="Required fields must be complete" attr.aria-label="{{ 'Required fields must be complete' | translate}}" [ngClass]="{'glyphicon glyphicon-exclamation-sign': !isValid('bundle')}"></span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['dimension']" routerLinkActive="active" *ngIf="item?.ItemType === 'simple'">
                                {{ 'Dimension' | translate }}
                                <span matTooltip="Required fields must be complete" attr.aria-label="{{ 'Required fields must be complete' | translate}}" [ngClass]="{'glyphicon glyphicon-exclamation-sign': !isValid('dimension')}"></span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['price']" routerLinkActive="active">
                                {{ 'Price' | translate }}
                                <span matTooltip="Required fields must be complete" attr.aria-label="{{ 'Required fields must be complete' | translate}}" [ngClass]="{'glyphicon glyphicon-exclamation-sign': !isValid('price')}"></span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['productrelation']" routerLinkActive="active">
                                {{ 'Product Relation' | translate }}
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['category']" routerLinkActive="active">
                                {{ 'Category' | translate }}
                                <span matTooltip="Required fields must be complete" attr.aria-label="{{ 'Required fields must be complete' | translate}}" [ngClass]="{'glyphicon glyphicon-exclamation-sign': !isValid('category')}"></span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['attachment']" routerLinkActive="active">
                                {{ 'Attachment' | translate }}
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['video']" routerLinkActive="active">
                                {{ 'Video' | translate }}
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['image']" routerLinkActive="active">
                                {{ 'Image' | translate }}
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['part']" routerLinkActive="active">
                                {{ 'Part' | translate }}
                            </a>
                        </li>
                        <!-- <li routerLinkActive="active" *ngIf="item?.ItemRefurbishes.length > 0 || userInfo?.IsPM">
                            <a [routerLink]="['refurbish']" routerLinkActive="active">
                                {{ 'Refurbishes' | translate }}
                            </a>
                        </li> -->
                    </ul>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="button-bottom-row" >
        <button mat-button
                type="button"
                class="btn button-cancel"
                [routerLink]="['/item']"><i class="fa fa-remove"></i> {{ 'Cancel' | translate }}
        </button>
        <button mat-button
                type="button"
                class="btn button-add"
                [disabled]="pendingAdd"
                (click)="onAddItem()">
                <span *ngIf="!pendingAdd"><i class="fa fa-plus-circle"></i> {{ 'Add' | translate }}</span>
                <div *ngIf="pendingAdd">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
        </button>
    </div>
</div>
