<h1 mat-dialog-title>{{ 'Print Label' | translate }}</h1>
<div mat-dialog-content>
    <h3>{{data.ItemName}}</h3>
    <mat-form-field fxFlex>
        <mat-select [(ngModel)]="itemLabelPrintDialog.Size" placeholder="{{ 'Size' | translate }}">
            <mat-option value="small">{{ 'Small' | translate }}</mat-option>
            <mat-option value="large">{{ 'Large' | translate }}</mat-option>
        </mat-select>        
    </mat-form-field>
    <mat-form-field fxFlex>
        <input matInput [(ngModel)]="itemLabelPrintDialog.Quantity" type="number" placeholder="{{ '# of labels' | translate }}"
            onkeydown="return event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 190 ? false : true" min="0">
    </mat-form-field> 
    <mat-form-field fxFlex>
        <mat-select [(ngModel)]="itemLabelPrintDialog.Border" placeholder="{{ 'Border' | translate }}">
            <mat-option value="yes">{{ 'Yes' | translate }}</mat-option>
            <mat-option value="no">{{ 'No' | translate }}</mat-option>
        </mat-select>        
    </mat-form-field> 
</div>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="itemLabelPrintDialog" cdkFocusInitial [disabled]='itemLabelPrintDialog && (!itemLabelPrintDialog.Quantity || itemLabelPrintDialog.Quantity == 0)'>{{ 'Print' | translate }}</button>
    <button mat-button (click)="onCancelClick()">{{ 'Cancel' | translate }}</button>
</mat-dialog-actions>
