<div class="tab-content border">
    <div class="tab-pane active">
        <div class="panel-body p-w-none">
            <div>
                <o-inbound-shipment-edit-carton-list
                    [purchaseOrder]="purchaseOrder$ | async"
                    [errorMessage]="errorMessage$ | async"
                    (getCartons)="getCartons($event)"
                    (setSelectedCarton)="setSelectedCarton($event)"
                    (downloadAllCartonLabel)="downloadAllCartonLabel($event)"
                    (downloadCartonLabelCount)="downloadCartonLabelCount($event)"
                ></o-inbound-shipment-edit-carton-list>
            </div>
            <div>
                <o-inbound-shipment-edit-carton-line-list
                    [carton]="selectedCarton$ | async"
                    [purchaseOrder]="purchaseOrder$ | async"
                    [purchaseOrderLineList]="purchaseOrderLineList$ | async"
                    [errorMessage]="errorMessage$ | async"
                    (getPurchaseOrderLineList)="getPurchaseOrderLineList($event)"
                ></o-inbound-shipment-edit-carton-line-list>
            </div>
        </div>
    </div>
</div>
