<div class="tab-content border">
    <div class="tab-pane active">
        <div class="panel-body p-w-none">
            <div *ngIf='!(isCartonAdd || isCartonEdit)'>
                <o-inbound-shipment-edit-carton-list
                ></o-inbound-shipment-edit-carton-list>
            </div>
            <div>
                <o-inbound-shipment-edit-carton-line-list
                ></o-inbound-shipment-edit-carton-line-list>
                <!-- <router-outlet></router-outlet> -->
            </div>
        </div>
    </div>
</div>