<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>
            {{ 'Manage Member' | translate }}
        </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/PM/dashboard']">{{ 'Home' | translate }}</a>
            </li>
            <li>
                <strong>{{ 'User Management' | translate }}</strong>
            </li>
            <li class="active">
                <strong>{{ 'Manage Member' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
</div>
