<div class="ibox-title"><h5>{{ 'Other Models Like This Product' | translate }}</h5></div>
<div class="ibox-content">
    <div class="form-group row">
        <div class="col-md-12">                            
            <div *ngIf="item.ItemUpSells.length && item.ItemUpSells.length > 0">
                <table mat-table #table [dataSource]="upSellDataSource">
                    <!-- Add Button -->
                    <ng-container matColumnDef="Add">
                        <th mat-header-cell *matHeaderCellDef width="45px"></th>
                        <td mat-cell *matCellDef="let itemUpSell; let i = index">                                                 
                            <div *ngIf="i === item.ItemUpSells.length-1">                               
                                <a (click)='onAddItemUpSell(itemUpSell); formDirty = false;'><span [matTooltip]="itemUpSell.UpSellItemID ? ( 'Add' | translate ) : ( 'Required fields must be complete' | translate )" class="glyphicon glyphicon-plus fs-20" [ngClass]="itemUpSell.UpSellItemID ? 'green' : 'gray'"></span></a>
                            </div>
                        </td>
                    </ng-container>
                    <!-- Down Column -->
                    <ng-container matColumnDef="Down">
                        <th mat-header-cell *matHeaderCellDef width="17px">{{ 'Position' | translate }}</th>
                        <td mat-cell *matCellDef="let itemUpSell; let i = index">
                            <div *ngIf="i < item.ItemUpSells.length-2">
                                <a (click)='upSellMoveDownPosition(itemUpSell)' *ngIf='i !== item.ItemUpSells.length - 1'><span class="glyphicon glyphicon-arrow-down"></span></a>
                            </div>                                            
                        </td>
                    </ng-container>
                    <!-- Position Column -->
                    <ng-container matColumnDef="Position">
                        <th mat-header-cell *matHeaderCellDef width="15px"></th>
                        <td mat-cell *matCellDef="let itemUpSell; let i = index">
                            <div *ngIf="i !== item.ItemUpSells.length-1">
                                {{i + 1}}
                            </div>
                        </td>
                    </ng-container>
                    <!-- Up Column -->
                    <ng-container matColumnDef="Up">
                        <th mat-header-cell *matHeaderCellDef width="40px"></th>
                        <td mat-cell *matCellDef="let itemUpSell; let i = index">
                            <div *ngIf="i !== item.ItemUpSells.length-1">
                                <a (click)='upSellMoveUpPosition(itemUpSell)' *ngIf='i !== 0'><span class="glyphicon glyphicon-arrow-up"></span></a>
                            </div>
                        </td>
                    </ng-container>  
                    <!-- Item Name Column -->
                    <ng-container matColumnDef="ItemName">
                        <th mat-header-cell *matHeaderCellDef width="300px">{{ 'Item Name' | translate }}</th>
                        <td mat-cell *matCellDef="let itemUpSell; let i = index">
                            <div *ngIf="currentItemUpSellIndex !== i && i !== item.ItemUpSells.length-1">
                                {{itemUpSell.UpSellItemName}}
                            </div>         
                            <div *ngIf="currentItemUpSellIndex === i || i === item.ItemUpSells.length-1">
                                <ng-select  [items]="upSellItemlist"
                                            [virtualScroll]="true"
                                            bindLabel="Description"
                                            bindValue="ItemID"
                                            placeholder="{{ 'Search Item' | translate }}"
                                            [(ngModel)]="itemUpSell.UpSellItemID"
                                            (change)="onUpSellItemChange(i)"
                                            (focus)="formDirty = true;"
                                            #selectionCategoriesRef
                                            id="itemUpSellUpSellItemIDId"
                                            name="itemUpSellItemID"
                                            required
                                            #itemUpSellUpSellItemIDVar="ngModel"
                                            [loading]="!upSellItemlist"
                                            loadingText="Loading...">
                                    <ng-template ng-option-tmp let-item="item">
                                        <div matTooltip="{{item.Description}}" matTooltipPosition="right" matTooltipShowDelay="400">{{item.Description}}</div>
                                    </ng-template>
                                </ng-select>
                                <!-- <select class="form-control" id="itemUpSellUpSellItemIDId" name="itemUpSellItemID" #selectionCategoriesRef required 
                                    [(ngModel)]=itemUpSell.UpSellItemID (change)="onUpSellItemChange(i)" #itemUpSellUpSellItemIDVar="ngModel"
                                    (ngModelChange)="i === item.ItemUpSells.length-1 && canAdd = true;" (focus)="formDirty = true;">
                                    <option [ngValue]="null" style="font-style: italic" disabled selected>--Select an item--</option>
                                    <option [value]="item.ItemID" *ngFor="let item of upSellItemlist">{{item.Description}}</option>
                                </select> -->
                            </div>                                  
                        </td>
                    </ng-container>
                    <!-- SKU Column -->
                    <ng-container matColumnDef="SKU">
                        <th mat-header-cell *matHeaderCellDef width="100px">{{ 'SKU' | translate }}</th>
                        <td mat-cell *matCellDef="let itemUpSell; let i = index">
                            <div *ngIf="i !== item.ItemUpSells.length-1">
                                {{itemUpSell.UpSellItemVendorSKU}}
                            </div>                                         
                        </td>                   
                    </ng-container>  
                    <!-- TPIN Column -->
                    <ng-container matColumnDef="TPIN">
                        <th mat-header-cell *matHeaderCellDef width="100px">{{ 'TPIN' | translate }}</th>
                        <td mat-cell *matCellDef="let itemUpSell; let i = index">
                            <div *ngIf="i !== item.ItemUpSells.length-1">
                                {{itemUpSell.UpSellTPIN}}
                            </div>     
                        </td>                    
                    </ng-container>              
                    <!-- Remove Column -->
                    <ng-container matColumnDef="Remove">
                        <th mat-header-cell *matHeaderCellDef width="100px">{{ 'Remove' | translate }}</th>
                        <td mat-cell *matCellDef="let itemUpSell; let i = index;">
                            <div *ngIf="i !== item.ItemUpSells.length-1">    
                                <a (click)="onRemoveUpSell(itemUpSell); currentItemUpSellIndex = item.ItemUpSells.length-1;">
                                    <span matTooltip="{{ 'Remove' | translate }}" attr.aria-label="{{ 'Remove' | translate}}" class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                            <div [hidden]="!formDirty && i === item.ItemUpSells.length-1"> 
                                <a matTooltip="{{ 'Clear' | translate }}" attr.aria-label="{{ 'Clear' | translate}}" (click)="clearFields(itemUpSell);"><i *ngIf="i === item.ItemUpSells.length-1" class="fa fa-eraser"></i></a>
                                <!-- <button *ngIf="i === item.ItemUpSells.length-1"
                                    type="button" 
                                    class="btn btn-remove-sm"
                                    (click)="clearFields(itemUpSellUpSellItemIDId);">Clear</button> -->
                            </div>
                        </td>
                    </ng-container>
                                    
                    <tr mat-header-row *matHeaderRowDef="upSellDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let itemUpSell; let i = index; columns: upSellDisplayedColumns;"
                    [ngStyle]="{'background-color': itemService.rowColorConditions(i, item.ItemUpSells, currentItemUpSellIndex, formDirty)}"
                        (click)="onEditItemUpSell(i)"></tr>
                </table>
            </div>
        </div>
    </div>
</div>