<h2>
    Add Attachment: {{itemLabel}}
</h2>
<div class="panel panel-primary">
    <div class="panel-body">
        <form class="form-horizontal" #itemVideoForm="ngForm">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label">Attachment</label>
                    <div class="col-md-6">
                        <select class="form-control" id="itemAttachmentAttachmentIDId" name="itemAttachmentAttachmentID"  required 
                            [(ngModel)]=itemAttachment.VendorAttachmentID #itemAttachmentAttachmentIDVar="ngModel">
                            <option [ngValue]="null" style="font-style: italic" disabled selected>--Select an attachment--</option>
                            <option [value]="vendorattachment.Value" *ngFor="let vendorattachment of vendorattachmentlist">{{vendorattachment.Label}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                            <span>
                                <button class="btn btn-secondary"
                                        type="button"
                                        style="width:100%; height:100%;"
                                        [routerLink]="['/company','attachment','add']">
                                    New Attachment
                                </button>
                            </span>
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="button"
                                    style="width:100%; height:100%;" 
                                    [disabled]="pendingAdd"
                                    (click)="onAddAttachment()">
                                Add
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
        <hr>
        <div class="mat-elevation-z8" *ngIf="itemAttachments && itemAttachments.length > 0">
            <table mat-table #table [dataSource]="dataSource" style="width: 100%;" matSort>
                <!-- View Column -->
                <ng-container matColumnDef="View">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center"></th>
                    <td mat-cell *matCellDef="let itemAttachment" style="text-align: center">
                        <a class="button" href="{{fileURL}}{{itemAttachment.UploadedFile}}" target="_blank">
                            <span class="glyphicon glyphicon-download"></span> View File
                        </a>
                    </td>
                </ng-container>
                <!-- Position Column -->
                <ng-container matColumnDef="Position">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">Position</th>
                    <td mat-cell *matCellDef="let itemAttachment; let i = index" style="text-align: center">{{i + 1}}</td>
                </ng-container>
                <!-- Down Column -->
                <ng-container matColumnDef="Down">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center"></th>
                    <td mat-cell *matCellDef="let itemAttachment; let i = index" style="text-align: center">
                        <a (click)='moveDownPosition(itemAttachment)' *ngIf='i !== itemAttachments.length - 1'><span class="glyphicon glyphicon-arrow-down"></span></a>
                    </td>
                </ng-container>
                <!-- Up Column -->
                <ng-container matColumnDef="Up">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center"></th>
                    <td mat-cell *matCellDef="let itemAttachment; let i = index" style="text-align: center">
                        <a (click)='moveUpPosition(itemAttachment)' *ngIf='i !== 0'><span class="glyphicon glyphicon-arrow-up"></span></a>
                    </td>
                </ng-container>  
                <!-- ID Column -->
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">Attachment ID</th>
                    <td mat-cell *matCellDef="let itemAttachment" style="text-align: center">{{itemAttachment.VendorAttachmentID}}</td>
                </ng-container>
                <!-- Title Column -->
                <ng-container matColumnDef="Title">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">Title</th>
                    <td mat-cell *matCellDef="let itemAttachment" style="text-align: center">{{itemAttachment.Title}}</td>                   
                </ng-container>  
                <!-- File Name Column -->
                <ng-container matColumnDef="FileName">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">File Name</th>
                    <td mat-cell *matCellDef="let itemAttachment" style="text-align: center">{{itemAttachment.FileName}}</td>                    
                </ng-container>              
                <!-- Remove Column -->
                <ng-container matColumnDef="Remove">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">Remove</th>
                    <td mat-cell *matCellDef="let itemAttachment" style="text-align: center">
                        <button type="button" class="btn btn-default btn-sm" (click)="onRemove(itemAttachment)">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </ng-container>
                                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let itemAttachment; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <hr>
                <!-- <div class="col-sm-2">      
                    <button class="btn btn-primary" 
                        style="width:100%; height:100%;" 
                        type="button" 
                        [disabled]="pendingSave"
                        (click)="saveItemAttachments()">Save</button>
                </div>   -->
                <div class="col-sm-2">  
                    <button class="btn btn-danger" style="width:100%; height:100%;" type="button" [routerLink]="['/item']">Back</button>
                </div>          
            </div>
        </div>
    </div>
</div>
