<div class="panel panel-primary" *ngIf='purchaseorderline'>
        <div class="panel-body">
            <form class="form-horizontal" #purchaseorderForm="ngForm">
                <fieldset>
                    <div class="form-group" [ngClass]="{'has-error': (purchaseorderlineItemIDVar.touched || 
                                                                        purchaseorderlineItemIDVar.dirty) && 
                                                                        !purchaseorderlineItemIDVar.valid }">
                        <label class="col-md-2 control-label" for="purchaseorderlineItemIDId">{{ 'Item ID' | translate }}</label>
                        <div class="col-md-8">
                            <select id="purchaseorderlineItemIDId" name="purchaseorderlineItemID" class="form-control" 
                                (ngModelChange)="onItemChanged($event)" required [(ngModel)]=purchaseorderline.ItemID #purchaseorderlineItemIDVar="ngModel">
                                <option [value]="item.ItemID" *ngFor="let item of itemList">{{item.Description}}</option>
                            </select>
                            <span class="help-block" *ngIf="(purchaseorderlineItemIDVar.touched ||
                                                                purchaseorderlineItemIDVar.dirty) &&
                                                                purchaseorderlineItemIDVar.errors">
                                <span *ngIf="purchaseorderlineItemIDVar.errors.required">
                                    {{ 'Item ID' | translate }} {{ 'is required' | translate }}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (purchaseorderlineFOBPriceVar.touched || 
                                                                                purchaseorderlineFOBPriceVar.dirty) && 
                                                                                !purchaseorderlineFOBPriceVar.valid }">
                        <label class="col-md-2 control-label" for="purchaseorderlineFOBPriceId">{{ 'FOB Price' | translate }}</label>
                        <div class="col-md-8">
                            <input class="form-control" id="purchaseorderlineFOBPriceId" type="number"  placeholder="{{ 'FOB Price' | translate }} ({{ 'Required' | translate }})"
                                step="0.01" onchange="this.value = parseFloat(this.value).toFixed(2);" onkeydown="return event.keyCode == 69 || event.keyCode == 189 ? false : true" min="0" 
                                required [(ngModel)]=purchaseorderline.FOBPrice name="purchaseorderlineFOBPrice" #purchaseorderlineFOBPriceVar="ngModel" />
                            <span class="help-block" *ngIf="(purchaseorderlineFOBPriceVar.touched ||
                                                    purchaseorderlineFOBPriceVar.dirty) &&
                                                    purchaseorderlineFOBPriceVar.errors">
                                <span *ngIf="purchaseorderlineFOBPriceVar.errors.required">
                                    {{ 'FOB Price' | translate }} {{ 'is required' | translate }}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': (purchaseorderlineQuantityVar.touched || 
                                                                            purchaseorderlineQuantityVar.dirty) && 
                                                                            !purchaseorderlineQuantityVar.valid }">
                        <label class="col-md-2 control-label" for="purchaseorderlineQuantityId">{{ 'Quantity' | translate }}</label>
                        <div class="col-md-8">
                            <input class="form-control" id="purchaseorderlineQuantityId" type="number" placeholder="{{ 'Quantity' | translate }} ({{ 'Required' | translate }})"
                                onkeydown="return event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 190 ? false : true" min="0"
                                required [(ngModel)]=purchaseorderline.Quantity name="purchaseorderlineQuantity" #purchaseorderlineQuantityVar="ngModel" />
                            <span class="help-block" *ngIf="(purchaseorderlineQuantityVar.touched ||
                                                                        purchaseorderlineQuantityVar.dirty) &&
                                                                        purchaseorderlineQuantityVar.errors">
                                <span *ngIf="purchaseorderlineQuantityVar.errors.required">
                                    {{ 'Quantity' | translate }} {{ 'is required' | translate }}
                                </span>
                            </span>
                        </div>
                    </div>
                </fieldset>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <span>
                                <button class="btn btn-primary"
                                        type="button"
                                        style="width:80px;margin-right:10px"
                                        [disabled]="pendingAdd"
                                        (click)="saveLine()">
                                    {{ 'Save' | translate }}
                                </button>
                            </span>
                            <span>
                                <a class="btn btn-danger"
                                    (click)="cancelLine()">
                                    {{ 'Cancel' | translate }}
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
            </form>
        </div>
    </div>