<app-company-b2b-info-development (updateVendorDevelopment)="updateVendorDevelopment($event)"
                                  [vendorDevelopment]="vendorDevelopment$|async"
                                  (getVendorDevelopment)="getVendorDevelopment()"
                                  [developmentLoading]="developmentLoading$|async"
                                  (updateImage)="updateImage($event)"
                                  [developmentImageList]="developmentImageList$|async"
                                  (deleteImage)="deleteImage($event)"

></app-company-b2b-info-development>
