<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <h2 *ngIf="fulfilledby =='merchant'">
            {{ 'Sales Orders: Fulfilled By Merchant' | translate }}
        </h2>
        <h2 *ngIf="fulfilledby !='merchant'">
            {{ 'Sales Orders: Fulfilled By Toolots' | translate }}
        </h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']" >{{ 'Home' | translate }}</a>
            </li>
            <li class="active">
                <strong *ngIf="fulfilledby =='merchant'">{{ 'Sales Orders (Merchant)' | translate }}</strong>
                <strong *ngIf="fulfilledby !='merchant'">{{ 'Sales Orders (Toolots)' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs" >
                    <li [ngClass]="{'active': fulfilledby =='merchant' && status == 'unshipped', 'disabled': disabledWhileLoading('unshipped')}" *ngIf="fulfilledby =='merchant'">
                        <a (click)="disabledWhileLoading('unshipped') ? '' : onFilterChange('merchant','unshipped')">{{ 'Unshipped' | translate }}</a>
                    </li>
                    <li [ngClass]="{'active': fulfilledby =='merchant' && status == 'shipped', 'disabled': disabledWhileLoading('shipped')}" *ngIf="fulfilledby =='merchant'">
                        <a (click)="disabledWhileLoading('shipped') ? '' : onFilterChange('merchant','shipped')">{{ 'Shipped' | translate }}</a>
                    </li>
                    <li [ngClass]="{'active': fulfilledby =='merchant' && status == 'canceled', 'disabled': disabledWhileLoading('canceled')}" *ngIf="fulfilledby =='merchant'">
                        <a (click)="disabledWhileLoading('canceled') ? '' : onFilterChange('merchant','canceled')">{{ 'Canceled' | translate }}</a>
                    </li>
                    <li [ngClass]="{'active': fulfilledby =='toolots' && status == 'unshipped', 'disabled': disabledWhileLoading('unshipped')}" *ngIf="fulfilledby =='toolots'">
                        <a (click)="disabledWhileLoading('unshipped') ? '' : onFilterChange('toolots','unshipped')">{{ 'Unshipped' | translate }}</a>
                    </li>
                    <li [ngClass]="{'active': fulfilledby =='toolots' && status == 'shipped', 'disabled': disabledWhileLoading('shipped')}" *ngIf="fulfilledby =='toolots'">
                        <a (click)="disabledWhileLoading('shipped') ? '' : onFilterChange('toolots','shipped')">{{ 'Shipped' | translate }}</a>
                    </li>
                    <li [ngClass]="{'active': fulfilledby =='toolots' && status == 'canceled', 'disabled': disabledWhileLoading('canceled')}" *ngIf="fulfilledby =='toolots'">
                        <a (click)="disabledWhileLoading('canceled') ? '' : onFilterChange('toolots','canceled')">{{ 'Canceled' | translate }}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="panel-body p-w-none">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title"><h5>{{ 'View Sales Orders' | translate }}</h5></div>
                                <div class="toolbar-search-1">
                                    <i class="fa fa-search search-icon-adjust" [ngClass]="this.salesOrdersMatTable?.filter ? 'selected' : ''" aria-label="Icon for Filter By Input Bar" (click)="FilterBy.select()"></i>
                                    <input (keyup)="applyFilter($event.target.value)" placeholder="{{ 'Filter By' | translate }}" class="form-control" #FilterBy>
                                </div>
                                <div class="ibox-content">
                                    <div *ngIf="isLoading" class="m-t-xl">
                                        <div class="sk-spinner sk-spinner-three-bounce big-spinner">
                                            <div class="sk-bounce1"></div>
                                            <div class="sk-bounce2"></div>
                                            <div class="sk-bounce3"></div>
                                        </div>
                                    </div>
                                    <div class="table-responsive" *ngIf="!isLoading">
                                        <p *ngIf="!salesOrdersMatTable || (salesOrdersMatTable && salesOrdersMatTable.data && salesOrdersMatTable.data.length < 1)" class="m-l-xl m-t-md">{{ 'There are no sales orders to display.' | translate }}</p>
                                        <table mat-table #table [dataSource]="salesOrdersMatTable" class="table animated fadeIn" matSort>

                                            <!-- Menu Column -->
                                            <ng-container matColumnDef="Menu">
                                                <th mat-header-cell *matHeaderCellDef width="120px"></th>
                                                <td mat-cell *matCellDef="let salesorder">
                                                    <div *ngIf="fulfilledby == 'merchant'">
                                                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-bars fa-2x"></i></button>
                                                        <mat-menu #menu="matMenu">
                                                            <button mat-menu-item [routerLink]="['/', 'sales-order', 'view', fulfilledby, salesorder.OrderID, 'detail']">{{ 'View Details' | translate }}</button>
                                                            <button mat-menu-item (click)="onPrintPackingSlip(salesorder)">{{ 'Print Packing Slip' | translate }}</button>
                                                            <button mat-menu-item [routerLink]="['/', 'sales-order', 'view', fulfilledby, salesorder.OrderID, 'fulfillment']" *ngIf="salesorder.Status != 'Canceled'">{{ 'Manage Shipments' | translate }}</button>
                                                            <button mat-menu-item (click)="setSalesOrder.emit(salesorder)" [routerLink]="['/', 'sales-order', salesorder.OrderID, 'cancellation']" *ngIf="salesorder.Status != 'Canceled'">{{ 'Cancel Order' | translate }}</button>
                                                        </mat-menu>
                                                    </div>
                                                    <div *ngIf="fulfilledby != 'merchant'">
                                                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-bars fa-2x"></i></button>
                                                        <mat-menu #menu="matMenu">
                                                            <button mat-menu-item [routerLink]="['/', 'sales-order', 'view', fulfilledby, salesorder.OrderID, 'detail']">{{ 'View Detail' | translate }}</button>
                                                            <button mat-menu-item [routerLink]="['/', 'sales-order', 'view', fulfilledby, salesorder.OrderID, 'fulfillment']" *ngIf="salesorder.Status != 'Canceled'">{{ 'View Shipments' | translate }}</button>
                                                        </mat-menu>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <!-- Product Info Column -->
                                            <ng-container matColumnDef="ProductInfo">
                                                <th mat-header-cell *matHeaderCellDef width="240px">{{ 'Product Info' | translate }}</th>
                                                <td mat-cell *matCellDef="let salesorder" class="wrap">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="flex">
                                                                <div class="col-label">

                                                                    <span *ngIf="salesorder?.OrderReference">Order Reference</span>
                                                                    <span>Order #</span>
                                                                    <span>Transaction Date</span>
                                                                    <span>Ship By</span>
                                                                    <span>Customer Name</span>
                                                                </div>
                                                                <div class="col-answer">
                                                                    <span *ngIf="salesorder?.OrderReference">{{salesorder.OrderReference}}</span>
                                                                    <a class="sm-strong" [routerLink]="['/', 'sales-order', 'view', fulfilledby, salesorder.OrderID, 'detail']">{{salesorder.IncrementID}}</a>
                                                                    <span>{{salesorder.TransactionDate | date}}</span>
                                                                    <span>{{salesorder.ShipByDate | date}}</span>
                                                                    <span>{{salesorder.CustomerName}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <!-- Product Details Column -->
                                            <ng-container matColumnDef="ProductDetails">
                                                <th mat-header-cell *matHeaderCellDef width="460px">{{ 'Product Details' | translate }}</th>
                                                <td mat-cell *matCellDef="let salesorderline" height="80px" class="wrap">
                                                    <div class="col-xs-3 p-l-none">
                                                        <img *ngIf='salesorderline.ItemImage' class="row-image" [src]='imageURL + salesorderline.ItemImage' [title]='salesorderline.ItemName'>
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <div class="row">
                                                            <div class="col-xs-12 "><span class="sm-strong"><a [href]="linkURL + '/' + salesorderline.URLKey + '.html'" target="_blank">{{salesorderline.ItemName}}</a></span></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 "> <span class="sm-text m-r-xs">SKU: </span> {{salesorderline.ItemVendorSKU}}</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 "><span class="sm-text m-r-xs">TPIN: </span> {{salesorderline.TPIN}}</div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <!-- Order Number Column -->
                                            <ng-container matColumnDef="IncrementID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="100px">{{ 'Order #' | translate }}</th>
                                                <td mat-cell *matCellDef="let salesorder"><a [routerLink]="['/', 'sales-order', fulfilledby, salesorder.OrderID, 'detail']">{{salesorder.IncrementID}}</a></td>
                                            </ng-container>

                                            <!-- Transaction Date Column -->
                                            <ng-container matColumnDef="TransactionDate">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="100px">{{ 'Transaction Date' | translate }}</th>
                                                <td mat-cell *matCellDef="let salesorder">{{salesorder.TransactionDate | date}}</td>
                                            </ng-container>

                                            <!-- Ship By Column -->
                                            <ng-container matColumnDef="ShipByDate">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="100px">{{ 'Ship By' | translate }}</th>
                                                <td mat-cell *matCellDef="let salesorder">{{salesorder.ShipByDate | date}}</td>
                                            </ng-container>

                                            <!-- Item Image Column -->
                                            <ng-container matColumnDef="ItemImage">
                                                <th mat-header-cell *matHeaderCellDef width="120px"></th>
                                                <td mat-cell *matCellDef="let salesorder" height="82px">
                                                    <a [href]="linkURL + '/' + salesorder.URLKey + '.html'" target="_blank">
                                                        <img *ngIf='salesorder.LineCount == 1 && !salesorder.ItemImage' class="opaque" src='https://content-merchantportal.toolots.net/assets/images/no-image-icon.png' matTooltip='Product has no image' matTooltipShowDelay="500">
                                                        <img style="max-height:70px" *ngIf='salesorder.LineCount == 1 && salesorder.ItemImage' [src]='imageURL + salesorder.ItemImage' [alt]='salesorder.ItemName' [matTooltip]='salesorder.ItemName' matTooltipShowDelay="500">
                                                    </a>
                                                </td>
                                            </ng-container>

                                            <!-- Item Name Column -->
                                            <ng-container matColumnDef="ItemName">
                                                <th mat-header-cell *matHeaderCellDef width="240px"></th>
                                                <td mat-cell *matCellDef="let salesorder" class="wrap">
                                                    <div *ngIf="salesorder.LineCount == 1">
                                                        <a class="sm-strong" [href]="linkURL + '/' + salesorder.URLKey + '.html'" target="_blank">{{salesorder.ItemName}}</a>
                                                    </div>
                                                    <div *ngIf="salesorder.LineCount > 1">
                                                        <span class="sm-strong">{{ 'Multiple Products' | translate }} ({{salesorder.LineCount}})</span>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <!-- Shipping Method Column -->
                                            <ng-container matColumnDef="ShippingMethod">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="190px">{{ 'Shipping Method' | translate }}</th>
                                                <td mat-cell *matCellDef="let salesorder" class="wrap col-ellipsis">{{salesorder.ShippingMethod}}</td>
                                            </ng-container>

                                            <!-- Sales Status Column -->
                                            <ng-container matColumnDef="Status">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="120px">{{ 'Status' | translate }}</th>
                                                <td mat-cell *matCellDef="let salesorder">
                                                    <div *ngIf="fulfilledby =='merchant' && status === 'unshipped' && isShipmentLate(salesorder.ShipByDate)" class="block label label-danger max-100"> {{ 'Shipment Late' | translate }} <span matTooltip="Warning! Shipment late" class="glyphicon glyphicon-info-sign"></span> </div>
                                                    <div class="m-t-xs block label max-100">{{ salesorder.Status | translate }}</div>
                                                </td>
                                            </ng-container>

                                            <!-- Vendor Total Column -->
                                            <ng-container matColumnDef="VendorTotal">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="110px">{{ 'Vendor Total' | translate }}</th>
                                                <td mat-cell *matCellDef="let salesorder">{{salesorder.VendorTotal | currency}}</td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 102px !important;"></tr>
                                        </table>
                                    </div>
                                </div>
                                <mat-paginator [pageSize]="userInfo?.DefaultPageSize" #paginator [pageSizeOptions]="[10, 20, 50, 100, 200]" [showFirstLastButtons]="true"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
