<h1 mat-dialog-title>{{ 'Print Label' | translate }}</h1>
<div mat-dialog-content>
    <h3>{{ 'Carton' | translate }}: {{data.CartonNumber}}</h3>
    <mat-form-field fxFlex>
        <input matInput [(ngModel)]="cartonLabelPrintDialog.Quantity" type="number" placeholder="{{ '# of labels' | translate }}"
            onkeydown="return event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 190 ? false : true" min="0">
    </mat-form-field>
    <mat-form-field fxFlex>
        <mat-select [(ngModel)]="cartonLabelPrintDialog.Border" placeholder="{{ 'Border' | translate }}">
            <mat-option value="yes">{{ 'Yes' | translate }}</mat-option>
            <mat-option value="no">{{ 'No' | translate }}</mat-option>
        </mat-select>        
    </mat-form-field> 
</div>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="cartonLabelPrintDialog" cdkFocusInitial [disabled]='!cartonLabelPrintDialog.Quantity || cartonLabelPrintDialog.Quantity == 0'>{{ 'Print' | translate }}</button>
    <button mat-button (click)="onCancelClick()">{{ 'Cancel' | translate }}</button>
</mat-dialog-actions>
