<o-item-list
    [itemsMatTable]="itemsMatTable$ | async"
    [userInfo]="userInfo$ | async"
    [errorMessage]="errorMessage$ | async"
    [isMainItemsListLoading]="isMainItemsListLoading$ | async"
    [pendingDelete]="pendingDelete$ | async"
    (getItems)="getItems()"
    (downloadItemLabelCount)="downloadItemLabelCount($event)"
    (downloadItemLargeLabelCount)="downloadItemLargeLabelCount($event)"
    (downloadItemLabelCountCustom)="downloadItemLabelCountCustom($event)"
    (downloadItemLargeLabelCountCustom)="downloadItemLargeLabelCountCustom($event)"
    (downloadItemTemplate)="downloadItemTemplate()"
    (deleteItem)="deleteItem($event)"
></o-item-list>
