<o-inbound-shipment-list
    [userInfo]="userInfo$ | async"
    [purchaseOrdersMatTable]="purchaseOrdersMatTable$ | async"
    [pendingDelete]="pendingDelete$ | async"
    [isLoading]="isLoading$ | async"
    [errorMessage]="errorMessage$ | async"
    (addNewPurchaseOrder)="addNewPurchaseOrder()"
    (getPurchaseOrderOverview)="getPurchaseOrderOverview()"
    (deletePurchaseOrder)="deletePurchaseOrder($event)"
    (downloadPurchaseOrderLabel)="downloadPurchaseOrderLabel($event)"
    (setSelectedPurchaseOrder)="setSelectedPurchaseOrder($event)"
></o-inbound-shipment-list>