<h3 class="ibox-title dialog-title">{{ 'Cancel Order' | translate }}
    <span class="pull-right"><i (click)="onCloseClick()" class="fa fa-close" matTooltip="{{ 'Close' | translate }}" aria-label="Close Icon for Cancel Order"></i></span>
</h3>

<div mat-dialog-content class="lightgray-bg">
    <div class="ibox-content hide-y">
        <h4>Are you sure you want to cancel your order?</h4>
        <div class="table-responsive">
            <table mat-table #table [dataSource]="salesOrderLinesMatTable" class="table" matSort>
                <!-- Item Image Column -->
                <ng-container matColumnDef="ItemImage">
                    <th mat-header-cell *matHeaderCellDef width="100px" style="min-width: 150px;">{{ 'Product Details' | translate }}</th>
                    <td mat-cell *matCellDef="let salesorderline" height="74px" class="wrap hide-y">
                        <a [href]="linkURL + '/' + salesorderline.URLKey + '.html'" target="_blank">
                            <img *ngIf='!salesorderline.ItemImage' class="opaque" src='https://content-merchantportal.toolots.net/assets/images/no-image-icon.png' matTooltip='Product has no image' matTooltipShowDelay='700'>
                            <img *ngIf='salesorderline.ItemImage' class="row-image" [src]='imageURL + salesorderline.ItemImage' [matTooltip]='salesorderline.ItemName' [alt]='salesorderline.ItemName' matTooltipShowDelay='700'>
                        </a>
                    </td>
                </ng-container>
                <!-- Product Details Column -->
                <ng-container matColumnDef="ProductDetails">
                    <th mat-header-cell *matHeaderCellDef width="200px"></th>
                    <td mat-cell *matCellDef="let salesorderline" height="74px" class="wrap hide-y">
                        <!-- <div class="col-xs-3 p-l-none">
                            <a [href]="linkURL + '/' + salesorder.URLKey + '.html'" target="_blank"><img *ngIf='salesorderline.ItemImage' style="max-height:70px" [src]='imageURL + salesorderline.ItemImage' [title]='salesorderline.ItemName'></a>
                        </div> -->
                        <div class="col-xs-11">
                            <div class="row">
                                <div class="col-xs-12"><a [href]="linkURL + '/' + salesOrder?.URLKey + '.html'" target="_blank"><span class="sm-strong">{{salesorderline.ItemName}}</span></a></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"> <span class="sm-text m-r-xs">SKU: </span> {{salesorderline.ItemVendorSKU}}</div> 
                            </div>
                            <div class="row">
                                <div class="col-xs-12 "><span class="sm-text m-r-xs">TPIN: </span> {{salesorderline.TPIN}}</div>                                         
                            </div>
                        </div>
                    </td>
                </ng-container>
                <!-- Product Info Column -->
                <ng-container matColumnDef="ProductInfo">
                    <th mat-header-cell *matHeaderCellDef width="200px">{{ 'Product Info' | translate }}</th>
                    <td mat-cell *matCellDef="let salesorderline" class="wrap">
                        <div class="row">
                            <div class="col-xs-9"><span class="sm-text2">Cancellation Quantity</span></div><div class="col-xs-2"><span class="badge badge-danger" style="padding-bottom: 3px;">{{salesorderline.Quantity - salesorderline.FulfilledQuantity}}</span></div> 
                        </div>
                        <div class="row">
                            <div class="col-xs-9"><span class="sm-text2">Quantity</span></div><div class="col-xs-2"><span class="m-l-xs">{{salesorderline.Quantity}}</span></div>                                         
                        </div>
                        <div class="row">
                            <div class="col-xs-9"><span class="sm-text2">Shipped Quantity</span></div><div class="col-xs-2"><span class="m-l-xs">{{salesorderline.FulfilledQuantity}}</span></div> 
                        </div>
                    </td>
                </ng-container>
                <!-- Cancellation Reason Column -->
                <ng-container matColumnDef="CancellationReason">
                    <th mat-header-cell *matHeaderCellDef width="240px">{{ 'Cancellation Reason' | translate }}</th>
                    <td mat-cell *matCellDef="let salesorderline" class="wrap">
                        <div *ngIf="salesorderline.Quantity - salesorderline.FulfilledQuantity > 0">
                            <select class="form-control" id="salesOrderLineCancellationReasonId" name="salesOrderLineCancellationReason" 
                                [(ngModel)]=salesorderline.CancellationReason #salesOrderLineCancellationReasonVar="ngModel">
                                <option [ngValue]="null" style="font-style: italic" disabled selected>--{{ 'Select a Reason' | translate }}--</option>
                                <option value="No Inventory to Fulfill">{{ 'No Inventory to Fulfill' | translate }}</option>
                                <option value="Buyer Requested Cancellation">{{ 'Buyer Requested Cancellation' | translate }}</option>
                                <option value="Pricing Error">{{ 'Pricing Error' | translate }}</option>
                                <option value="Undeliverable Shipping Address">{{ 'Undeliverable Shipping Address' | translate }}</option>
                                <option value="Other">{{ 'Other' | translate }}</option>
                            </select>
                        </div>         
                        <div *ngIf="salesorderline.Quantity - salesorderline.FulfilledQuantity == 0">
                            --
                        </div> 
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

</div>
<mat-dialog-actions>
    <button mat-button class="btn btn-danger-150" (click)="onCancel()">
        <ng-container *ngIf="!pendingCancel">Cancel Order</ng-container>
        <ng-container *ngIf="pendingCancel"><i class="fa fa-spinner fa-spin"></i></ng-container>
    </button>
    <button mat-button class="btn btn-remove-150" (click)="onCloseClick()">Back</button>
</mat-dialog-actions>
    