<h1 mat-dialog-title>Print Label</h1>
<div mat-dialog-content>
    <h3>{{data.Name}}</h3>
    <mat-form-field fxFlex>
        <mat-select [(ngModel)]="itemLabelPrintDialog.Size" placeholder="Size">
            <mat-option value="small">Small</mat-option>
            <mat-option value="large">Large</mat-option>
        </mat-select>        
    </mat-form-field>
    <mat-form-field fxFlex>
        <input matInput [(ngModel)]="itemLabelPrintDialog.Quantity" type="number" placeholder="# of labels"
            onkeydown="return event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 190 ? false : true" min="0">
    </mat-form-field>   
    <mat-form-field fxFlex>
        <mat-select [(ngModel)]="itemLabelPrintDialog.Border" placeholder="Border">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
        </mat-select>        
    </mat-form-field> 
</div>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="itemLabelPrintDialog" cdkFocusInitial [disabled]='itemLabelPrintDialog && (!itemLabelPrintDialog.Quantity || itemLabelPrintDialog.Quantity == 0)'>Print</button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>
