<div class="panel panel-primary" *ngIf="carton">    
    <div class="panel-body">
        <h3>{{ 'Edit Carton' | translate }}: {{ carton.CartonNumber }} </h3>
        <form class="form-horizontal" #purchaseorderForm="ngForm">
            <fieldset>
                <div class="form-group" [ngClass]="{'has-error': (cartonLengthVar.touched || 
                                                                    cartonLengthVar.dirty) && 
                                                                    !cartonLengthVar.valid }">
                    <label class="col-md-2 control-label" for="cartonLengthId">{{ 'Length (in)' | translate }}</label>
                    <div class="col-md-8">
                        <input class="form-control" id="cartonLengthId" type="number" placeholder="{{ 'Length' | translate }} ({{ 'Required' | translate }})"
                            onkeydown="return event.keyCode == 69 || event.keyCode == 189 ? false : true" min="0" required
                            [(ngModel)]=carton.Length name="cartonLength" #cartonLengthVar="ngModel" />
                        <span class="help-block" *ngIf="(cartonLengthVar.touched ||
                                                            cartonLengthVar.dirty) &&
                                                            cartonLengthVar.errors">
                            <span *ngIf="cartonLengthVar.errors.required">
                                {{ 'Length' | translate }} {{ 'is required' | translate }}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': (cartonWidthVar.touched || 
                                                                    cartonWidthVar.dirty) && 
                                                                    !cartonWidthVar.valid }">
                    <label class="col-md-2 control-label" for="cartonWidthId">{{ 'Width (in)' | translate }}</label>
                    <div class="col-md-8">
                        <input class="form-control" id="cartonWidthId" type="number" placeholder="{{ 'Width' | translate }} ({{ 'Required' | translate }})"
                            onkeydown="return event.keyCode == 69 || event.keyCode == 189 ? false : true" min="0" required 
                            [(ngModel)]=carton.Width name="cartonWidth" #cartonWidthVar="ngModel" />
                        <span class="help-block" *ngIf="(cartonWidthVar.touched ||
                                                            cartonWidthVar.dirty) &&
                                                            cartonWidthVar.errors">
                            <span *ngIf="cartonWidthVar.errors.required">
                                    {{ 'Width' | translate }} {{ 'is required' | translate }}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': (cartonHeightVar.touched || 
                                                                    cartonHeightVar.dirty) && 
                                                                    !cartonHeightVar.valid }">
                    <label class="col-md-2 control-label" for="cartonHeightId">{{ 'Height (in)' | translate }}</label>
                    <div class="col-md-8">
                        <input class="form-control" id="cartonHeightId" type="number" placeholder="{{ 'Height' | translate }} ({{ 'Required' | translate }})"
                            onkeydown="return event.keyCode == 69 || event.keyCode == 189 ? false : true" min="0" required 
                            [(ngModel)]=carton.Height name="cartonHeight" #cartonHeightVar="ngModel" />
                        <span class="help-block" *ngIf="(cartonHeightVar.touched ||
                                                            cartonHeightVar.dirty) &&
                                                            cartonHeightVar.errors">
                            <span *ngIf="cartonHeightVar.errors.required">
                                {{ 'Height' | translate }} {{ 'is required' | translate }}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': (cartonWeightVar.touched || 
                                                                    cartonWeightVar.dirty) && 
                                                                    !cartonWeightVar.valid }">
                    <label class="col-md-2 control-label" for="cartonWeightId">{{ 'Weight (lb)' | translate }}</label>
                    <div class="col-md-8">
                        <input class="form-control" id="cartonWeightId" type="number" placeholder="{{ 'Weight' | translate }} ({{ 'Required' | translate }})"
                            onkeydown="return event.keyCode == 69 || event.keyCode == 189 ? false : true" min="0" required 
                            [(ngModel)]=carton.Weight name="cartonWeight" #cartonWeightVar="ngModel" />
                        <span class="help-block" *ngIf="(cartonWeightVar.touched ||
                                                            cartonWeightVar.dirty) &&
                                                            cartonWeightVar.errors">
                            <span *ngIf="cartonWeightVar.errors.required">
                                {{ 'Weight' | translate }} {{ 'is required' | translate }}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': (cartonLabelQtyVar.touched || 
                                                                    cartonLabelQtyVar.dirty) && 
                                                                    !cartonLabelQtyVar.valid }">
                    <label class="col-md-2 control-label" for="cartonLabelQtyId">{{ 'Label Qty' | translate }}</label>
                    <div class="col-md-8">
                        <input class="form-control" id="cartonLabelQtyId" type="number" placeholder="{{ 'LabelQty' | translate }} ({{ 'Required' | translate }})"
                            onkeydown="return event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 190 ? false : true" min="0" required 
                            [(ngModel)]=carton.LabelQty name="cartonLabelQty" #cartonLabelQtyVar="ngModel" />
                        <span class="help-block" *ngIf="(cartonLabelQtyVar.touched ||
                                                            cartonLabelQtyVar.dirty) &&
                                                            cartonLabelQtyVar.errors">
                            <span *ngIf="cartonLabelQtyVar.errors.required">
                                {{ 'Label Qty' | translate }} {{ 'is required' | translate }}
                            </span>
                        </span>
                    </div>
                </div>
            </fieldset>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="button"
                                    style="width:80px;margin-right:10px"
                                    [disabled]="pendingSave"
                                    (click)="onSaveCarton()">
                                {{ 'Save' | translate }}
                            </button>
                        </span>
                        <span>
                            <a class="btn btn-danger"
                                [routerLink]="['/inbound-shipment', purchaseorderid, 'edit', 'carton']">
                                {{ 'Cancel' | translate }}
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </form>
    </div>
</div>