<h2>
    Upload Image: {{itemLabel}}
</h2>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row" *ngIf="filesToUpload.length === 0 && itemImages && itemImages.length < 8" >
            <div class="col-sm-2">      
                <label class="btn btn-primary" style="width:100%; height:100%;">
                    Browse&hellip; <input type="file" style="display: none;" (change)="fileChangeEvent($event)" accept=".*" #fileUpload>
                </label>
            </div>            
        </div>        
        <div class="row" *ngIf="filesToUpload?.length > 0">
            <div class="col-sm-12">  
                <div>File selected : </div>
                <ul>
                    <li *ngFor="let fileName of selectedFileNames; let i = index">- {{fileName}}</li>
                </ul>
            </div>            
        </div>        
        <br />
        <div class="row" *ngIf="filesToUpload.length !== 0">
            <div class="col-sm-2">  
                <button class="btn btn-primary" 
                    style="width:100%; height:100%;" 
                    type="button"
                    [disabled]="pendingUpload" 
                    (click)="upload()">Upload</button>
            </div>
            <div class="col-sm-2"> 
                <button class="btn btn-danger" style="width:100%; height:100%;" type="button" (click)="cancelUpload()">Cancel</button>
            </div>
        </div>
        <div class="row" style="color:red">
            <div class="col-sm-12">  
                {{errorMessage}}
                <hr>
            </div>            
        </div>
        <div class="mat-elevation-z8" *ngIf="itemImages && itemImages.length > 0">
            <table mat-table #table [dataSource]="dataSource" style="width: 100%;" matSort>
                <!-- Position Column -->
                <ng-container matColumnDef="Position">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">Position</th>
                    <td mat-cell *matCellDef="let image; let i = index" style="text-align: center">{{i + 1}}</td>
                </ng-container>
                <!-- Down Column -->
                <ng-container matColumnDef="Down">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let image; let i = index" style="text-align: center"><a (click)='moveDownPosition(image)' *ngIf='i !== itemImages.length - 1'><span class="glyphicon glyphicon-arrow-down"></span></a></td>
                </ng-container>
                <!-- Up Column -->
                <ng-container matColumnDef="Up">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let image; let i = index" style="text-align: center"><a (click)='moveUpPosition(image)' *ngIf='i !== 0'><span class="glyphicon glyphicon-arrow-up"></span></a></td>
                </ng-container>
                <!-- Raw Column -->
                <ng-container matColumnDef="Raw">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let image" width="132px" style="text-align: center">
                        <img [src]='image.Raw' [title]='image.Label' style="max-width: 100px; margin:5px">
                    </td>
                </ng-container>
                <!-- Label Column -->
                <ng-container matColumnDef="Label">
                    <th mat-header-cell *matHeaderCellDef>Label</th>
                    <td mat-cell *matCellDef="let image"><input id="imageLabelId" type="text" style="width: 98%" required 
                        [(ngModel)]=image.Label name="imageLabel" #imageLabelVar="ngModel" /></td>
                </ng-container>
                <!-- Base Image Column -->
                <ng-container matColumnDef="IsBaseImage">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">Base Image</th>
                    <td mat-cell *matCellDef="let image" style="text-align: center"><input type="checkbox" [(ngModel)]="image.IsBaseImage" (click)="isBaseImageClick(image)" /></td>
                </ng-container>
                <!-- Small Image Column -->
                <ng-container matColumnDef="IsSmallImage">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">Small Image</th>
                    <td mat-cell *matCellDef="let image" style="text-align: center"><input type="checkbox" [(ngModel)]="image.IsSmallImage" (click)="isSmallImageClick(image)" /></td>
                </ng-container>
                <!-- Thumbnail Column -->
                <ng-container matColumnDef="IsThumbnail">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">Thumbnail</th>
                    <td mat-cell *matCellDef="let image" style="text-align: center"><input type="checkbox" [(ngModel)]="image.IsThumbnail" (click)="isThumbnailClick(image)" /></td>
                </ng-container>
                <!-- Rotator ImageColumn -->
                <ng-container matColumnDef="IsRotatorImage">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">Rotator Image</th>
                    <td mat-cell *matCellDef="let image" style="text-align: center"><input type="checkbox" [(ngModel)]="image.IsRotatorImage" (click)="isRotatorImageClick(image)" /></td>
                </ng-container>
                <!-- Exclude Column -->
                <ng-container matColumnDef="Exclude">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">Exclude</th>
                    <td mat-cell *matCellDef="let image" style="text-align: center"><input type="checkbox" [(ngModel)]="image.Exclude" /></td>
                </ng-container>
                <!-- Remove Column -->
                <ng-container matColumnDef="Remove">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center">Remove</th>
                    <td mat-cell *matCellDef="let image" style="text-align: center"><input type="checkbox" [(ngModel)]="image.Remove" /></td>
                </ng-container>
                                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let image; columns: displayedColumns;"></tr>
            </table>

            <!-- <table class="mat-table" style="width: 100%">
                <thead>
                    <tr class="mat-header-row ng-star-inserted">
                        <th class="mat-header-cell ng-star-inserted">Position</th>
                        <th class="mat-header-cell ng-star-inserted">Image</th>
                        <th class="mat-header-cell ng-star-inserted">Label</th>
                        <th class="mat-header-cell ng-star-inserted">Base Image</th>
                        <th class="mat-header-cell ng-star-inserted">Small Image</th>
                        <th class="mat-header-cell ng-star-inserted">Thumbnail</th>
                        <th class="mat-header-cell ng-star-inserted">Roator Image</th>
                        <th class="mat-header-cell ng-star-inserted">Exclude</th>
                        <th class="mat-header-cell ng-star-inserted">Remove</th>
                        <th class="mat-header-cell ng-star-inserted"></th>
                        <th class="mat-header-cell ng-star-inserted"></th>
                    </tr>
                </thead>
                <tbody>            
                    <tr class="mat-row ng-star-inserted" *ngFor="let image of itemImages; let i = index;">
                        <td class="mat-cell ng-star-inserted">{{i + 1}}</td>
                        <td class="mat-cell ng-star-inserted"><img [src]='image.Raw' [title]='image.Label' style="max-width: 100px; margin:5px"></td>
                        <td class="mat-cell ng-star-inserted"><input id="imageLabelId" type="text" style="width: 98%" required [(ngModel)]=image.Label name="imageLabel" #imageLabelVar="ngModel" /></td>
                        <td class="mat-cell ng-star-inserted"><input type="checkbox" [(ngModel)]="image.IsBaseImage" (click)="isBaseImageClick(image)" /></td>
                        <td class="mat-cell ng-star-inserted"><input type="checkbox" [(ngModel)]="image.IsSmallImage" (click)="isSmallImageClick(image)" /></td>
                        <td class="mat-cell ng-star-inserted"><input type="checkbox" [(ngModel)]="image.IsThumbnail" (click)="isThumbnailClick(image)" /></td>
                        <td class="mat-cell ng-star-inserted"><input type="checkbox" [(ngModel)]="image.IsRotatorImage" (click)="isRotatorImageClick(image)" /></td>
                        <td class="mat-cell ng-star-inserted"><input type="checkbox" [(ngModel)]="image.Exclude" /></td>
                        <td class="mat-cell ng-star-inserted"><input type="checkbox" [(ngModel)]="image.Remove" /></td>
                        <td class="mat-cell ng-star-inserted"><a (click)='moveDownPosition(image)' *ngIf='i !== itemImages.length - 1'><span class="glyphicon glyphicon-arrow-down"></span></a></td>
                        <td class="mat-cell ng-star-inserted"><a (click)='moveUpPosition(image)' *ngIf='i !== 0'><span class="glyphicon glyphicon-arrow-up"></span></a></td>
                    </tr>
                </tbody>
            </table>             -->
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <div class="col-sm-2">      
                    <button class="btn btn-primary" 
                        style="width:100%; height:100%;" 
                        type="button" 
                        [disabled]="pendingSave"
                        (click)="saveItemImage()">Save</button>
                </div>  
                <div class="col-sm-2">  
                    <button class="btn btn-danger" style="width:100%; height:100%;" type="button" [routerLink]="['/item']">Back</button>
                </div>          
            </div>
        </div>
    </div>
</div>

