<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <i class="fa fa-angle-left animated fadeIn" (click)="sidenav.close()"></i>
        <o-dashboard-main-vendor-notification 
            [dashboardVendorNotification]="dashboardVendorNotification$ | async"
            [dashboard]="dashboard$ | async"
            [userInfo]="userInfo$ | async"
            (getDashboardVendorNotification)="getDashboardVendorNotification()"
        ></o-dashboard-main-vendor-notification>
        <o-dashboard-main-current-sales-order-summary 
            [salesOrderSummaryMerchantMatTable]="salesOrderSummaryMerchantMatTable$ | async"
            [salesOrderSummaryToolotsMatTable]="salesOrderSummaryToolotsMatTable$ | async"
            [errorMessage]="errorMessage$ | async"
            (getSalesOrderSummaryMerchant)="getSalesOrderSummaryMerchant()"
            (getSalesOrderSummaryToolots)="getSalesOrderSummaryToolots()"
        ></o-dashboard-main-current-sales-order-summary>
        <o-dashboard-main-inbound-shipment-status-count 
            [inboundShipmentStatusCountsMatTable]="inboundShipmentStatusCountsMatTable$ | async"
            [errorMessage]="errorMessage$ | async"
            (getInboundShipmentStatusCounts)="getInboundShipmentStatusCounts()"
        ></o-dashboard-main-inbound-shipment-status-count>
    </mat-sidenav>

    <mat-sidenav-content>
        <i class="fa fa-angle-right animated fadeInLeft hide-700" *ngIf="!sidenav.opened" (click)="sidenav.open()"></i>
        <div id="mwrapper">
            <div class="wrapper wrapper-content animated fadeIn hide-y">
                <div id="page-mwrapper" class="gray-bg">
                    <div class="mwrapper mwrapper-content" style="min-height: 1200px;">
                        <div class="col-xs-12 hide-lg m-res">
                            <o-dashboard-main-vendor-notification
                                [dashboardVendorNotification]="dashboardVendorNotification$ | async"
                                [userInfo]="userInfo$ | async"
                                (getDashboardVendorNotification)="getDashboardVendorNotification()"
                            ></o-dashboard-main-vendor-notification>
                            <div class="animated fadeIn mobile-view-side">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <o-dashboard-main-current-sales-order-summary
                                            [salesOrderSummaryMerchantMatTable]="salesOrderSummaryMerchantMatTable$ | async"
                                            [salesOrderSummaryToolotsMatTable]="salesOrderSummaryToolotsMatTable$ | async"
                                            [errorMessage]="errorMessage$ | async"
                                            (getSalesOrderSummaryMerchant)="getSalesOrderSummaryMerchant()"
                                            (getSalesOrderSummaryToolots)="getSalesOrderSummaryToolots()"
                                        ></o-dashboard-main-current-sales-order-summary>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <o-dashboard-main-inbound-shipment-status-count
                                            
                                            [inboundShipmentStatusCountsMatTable]="inboundShipmentStatusCountsMatTable$ | async"
                                            [errorMessage]="errorMessage$ | async"
                                            (getInboundShipmentStatusCounts)="getInboundShipmentStatusCounts()"
                                        ></o-dashboard-main-inbound-shipment-status-count>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <o-dashboard-main-news-feed
                                [dashboardNews]="dashboardNews$ | async"
                            ></o-dashboard-main-news-feed>
                            <o-dashboard-main-item-sales-total-list 
                                [itemSalesTotalsMatTable]="itemSalesTotalsMatTable$ | async"
                                [errorMessage]="errorMessage$ | async" (getItemSalesTotal)="getItemSalesTotal()"
                            ></o-dashboard-main-item-sales-total-list>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    <o-dashboard-main-sales-order-summary 
                                        [salesOrderSummaryMatTable]="salesOrderSummaryMatTable$ | async"
                                        (getSalesOrderSummary)="getSalesOrderSummary()"
                                    ></o-dashboard-main-sales-order-summary>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <o-dashboard-main-sales-status-total 
                                        [salesStatusTotalsMatTable]="salesStatusTotalsMatTable$ | async"
                                        (getSalesStatusTotals)="getSalesStatusTotals()"
                                    ></o-dashboard-main-sales-status-total>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<o-notification></o-notification>