<!-- <router-outlet></router-outlet> -->

<o-company-attachment-list
    *ngIf="!this.route.includes('edit') && !this.route.includes('add')"
    
    [userInfoDefaultPageSize]="userInfoDefaultPageSize$ | async"
    [vendorAttachmentsMatTable]="vendorAttachmentsMatTable$ | async"
    [errorMessage]="errorMessage$ | async"
    (getVendorAttachments)="getVendorAttachments($event)"
    (deleteVendorAttachment)="deleteVendorAttachment($event)"
    >
</o-company-attachment-list>


<o-company-attachment-edit
    *ngIf="this.route.includes('edit')">
</o-company-attachment-edit>

<o-company-attachment-add
    *ngIf="this.route.includes('add')"
    (uploadVendorAttachment)="uploadVendorAttachment($event)"
    >
</o-company-attachment-add>