<!-- <router-outlet></router-outlet> -->

<o-company-attachment-list
    *ngIf="!this.route.includes('edit') && !this.route.includes('add')"
    [userInfoDefaultPageSize]="userInfoDefaultPageSize$ | async" 
    [vendorAttachmentsMatTable]="vendorAttachmentsMatTable$ | async"
    [errorMessage]="errorMessage$ | async"
    [pendingDelete]="pendingDelete$ | async"
    (getVendorAttachments)="getVendorAttachments($event)"
    (deleteVendorAttachment)="deleteVendorAttachment($event)"
    (setVendorAttachmentID)="setVendorAttachmentID($event)"
></o-company-attachment-list>


<o-company-attachment-edit
    *ngIf="this.route.includes('edit')"
    [vendorAttachment]="vendorAttachment$ | async"
    [pendingUpload]="pendingUpload$ | async"
    (editVendorAttachment)="editVendorAttachment($event)"
    (getCurrentVendorAttachment)="getCurrentVendorAttachment($event)"
    (uploadUpdateVendorAttachment)="uploadUpdateVendorAttachment($event)"
></o-company-attachment-edit>

<o-company-attachment-add
    *ngIf="this.route.includes('add')"
    [pendingUpload]="pendingUpload$ | async"
    (uploadVendorAttachment)="uploadVendorAttachment($event)"
></o-company-attachment-add>