<div class="tab-content" *ngIf='item'>
        <div class="tab-pane active">
            <div class="panel-body p-w-none">
                <form class="form-horizontal" #itemForm="ngForm">
                    <fieldset>
                        <div class="ibox-title"><h5>{{ 'Inventory - Toolots' | translate }}</h5></div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'On Hand' | translate }}</label>
                                <div class="col-md-8 m-l-sm grey-highlight">
                                    {{item.QtyOnHand}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'Available' | translate }}</label>
                                <div class="col-md-8 m-l-sm grey-highlight">
                                    {{item.QtyAvailable}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'On Order' | translate }}</label>
                                <div class="col-md-8 m-l-sm grey-highlight">
                                    {{item.QtyOnOrder}}
                                </div>
                            </div>
                        </div>
                        <div class="ibox-title"><h5>{{ 'Inventory - Merchant' | translate }}</h5></div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'On Hand' | translate }}</label>
                                <div class="col-md-8 m-l-sm grey-highlight">
                                    {{item.MerchantQtyOnHand}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'Available' | translate }}</label>
                                <div class="col-md-8 m-l-sm grey-highlight">
                                    {{item.MerchantQtyAvailable}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'On Order' | translate }}</label>
                                <div class="col-md-8 m-l-sm grey-highlight">
                                    {{item.MerchantQtyOnOrder}}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    